.server-error
  .container
    .server-error__title 404
    .server-error__item
      .server-error__item-title Page not found
      .server-error__item-text Go back to the main page and try again
      a(href="/").server-error__item-btn.p-btn.p-btn_center Home page
