.server-error._405
  .container
    .server-error__title The website is temporarily unavailable
    .server-error__item
      .server-error__item-title Please try again later
      .server-error__item-text We are currently performing technical maintenance to update our service. Thank you for your understanding.
      a(href="/").server-error__item-btn.p-btn.p-btn_center Home page
