.auth
  .auth__bg.auth__bg-left.img_full
    +picture({
      src: '/images/auth/bg.png',
      width: 1031,
      height: 920,
      formats: [
        {
          type: 'avif',
          src: '/images/auth/bg.avif',
        },
        {
          type: 'webp',
          src: '/images/auth/bg.webp',
        },
      ]
    })
  .auth__bg.auth__bg-right.img_full
    +picture({
      src: '/images/auth/mask.png',
      width: 687,
      height: 920,
      formats: [
        {
          type: 'avif',
          src: '/images/auth/mask.avif',
        },
        {
          type: 'webp',
          src: '/images/auth/mask.webp',
        },
      ]
    })
  .container
    .auth__item.auth__item_is-company
      form.auth__form
        .auth__title REGISTRATION

        .auth__steps
          .auth__step.active
            .auth__inputs
              .auth__input
                label(for='company-name').auth__label
                  span Company name*
                input.auth__input-field(type='text' id='company-name' name='company_name' required value='Acme Corporation')

              .auth__input.auth__input_50
                label(for='vat-id').auth__label
                  span VAT ID*
                input.auth__input-field(type='text' id='vat-id' name='vat_id' required value='US123456789')

              .auth__input.auth__input_50
                label(for='business-id').auth__label
                  span Business ID*
                input.auth__input-field(type='text' id='business-id' name='business_id' required value='BN987654321')

              .auth__input
                label(for='country').auth__label
                  span Country*
                select.auth__select(id='country' name='country' required)
                  option(value='') Select country
                  option(value='US' selected) United States
                  option(value='CA') Canada
                  option(value='GB') United Kingdom
                  option(value='AU') Australia
                  option(value='NZ') New Zealand

              .auth__input
                label(for='city').auth__label
                  span City*
                input.auth__input-field(type='text' id='city' name='city' required value='San Francisco')

              .auth__input.auth__input_50
                label(for='address').auth__label
                  span Address*
                input.auth__input-field(type='text' id='address' name='address' required value='456 Business Ave')

              .auth__input.auth__input_50
                label(for='postal-code').auth__label
                  span Postal code*
                input.auth__input-field(type='text' id='postal-code' name='postal_code' required value='94105')

        button.auth__btn.p-btn.p-btn_orange(type='submit') Complete Registration
