.server-error._user-block
  .container
    .server-error__title User is blocked
    .server-error__item
      .server-error__item-title Reason for blocking
      .server-error__item-text Go back to the main page and try again
      .server-error__item-last You can write to the <a href="mailto:info@yastuning.com">info@yastuning.com</a> to discuss the unlocking
