header.header.header_main
  .container
    .header__block.p-animate
      a.header__logo(href='/')
        +img({
          src: '/images/header/logo.webp',
          width: 70,
          height: 70,
          alt: '',
        })
      .header__right
        nav.header__nav
          ul.header__list
            li
              a(href='/') About
            li
              a(href='/') Catalog
            li
              a(href='/') FAQ
            li
              a(href='/') Contacts
        .header__btns
          a(href='#!').p-btn Login
          a(href='#!').p-btn.p-btn_orange Registration
        .header__menu.modal__show(data-modal="menu")
          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.8125 21.4375H23.1875M4.8125 14.4375H23.1875M4.8125 7.4375H23.1875" stroke="#F56E0F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

