.user__menu-block
  .user__menu-click
    <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.8125 15.4375H20.1875M1.8125 8.4375H20.1875M1.8125 1.4375H20.1875" stroke="#F56E0F" stroke-width="2.54545" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.08984 1.36377L18.6353 17.9092M18.6353 1.36377L2.08984 17.9092" stroke="#F56E0F" stroke-width="2.54545" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  .user__menu
    .user__menu-item.user__menu-item--active
      span.user__menu-title Orders
      span.user__menu-count 12
    a(href="#!").user__menu-item
      span.user__menu-title Tickets
      span.user__menu-count 2
    a(href="#!").user__menu-item
      span.user__menu-title Invoices
    a(href="#!").user__menu-item
      span.user__menu-title Credit statistic
