.user__content-left
  .user__sidebar
    .user__menu
      .user__menu-item.user__menu-item--active
        span.user__menu-title Orders
      .user__menu-item
        span.user__menu-title Tickets
        span.user__menu-count 2
      .user__menu-item
        span.user__menu-title Invoices
      .user__menu-item
        span.user__menu-title Credit statistic

  .user__schedule
    .user__schedule-item
      .user__schedule-day Monday
      .user__schedule-time 10:00 — 22:00
    .user__schedule-item
      .user__schedule-day Tuesday
      .user__schedule-time 10:00 — 22:00
    .user__schedule-item
      .user__schedule-day Wednesday
      .user__schedule-time 10:00 — 22:00
    .user__schedule-item
      .user__schedule-day Thursday
      .user__schedule-time 10:00 — 22:00
    .user__schedule-item
      .user__schedule-day Friday
      .user__schedule-time 10:00 — 22:00
    .user__schedule-item
      .user__schedule-day Saturday
      .user__schedule-time 10:00 — 15:00
    .user__schedule-item.user__schedule-item--closed
      .user__schedule-day Sunday
      .user__schedule-time Not working
