mixin hCarItem(img, title, classes, attrs)
  a(href="#choose-your-car").h-car__item(class=classes)&attributes(attributes)
    .h-car__item-img
      +img({
        src: img,
        width: 58,
        height: 58,
        lazy: true,
      })
    .h-car__item-title=title
