.user
  .container
    include ../../templates/user/header.pug
    .user__header-overlay
    .user__content
      include ../../templates/user/sidebar.pug
      .user__main
        .user__time-info._tablet
          .user__time-block
            .user__time
              .user__current-time 19:25
              .user__current-date 06.05.2025
            .user__office-time Office close - 22-00
        .user__main-top
          include ../../templates/user/menu-block.pug
          .user__stats
            .user__stat
              | Load: <span class="color_yellow">average</span>
            .user__stat
              | Balance: 317 YT
          .user__main-warning
            .order-detail-modal__warning
              .order-detail-modal__warning-icon
                <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 19.5C0 14.3283 2.05446 9.36838 5.71142 5.71142C9.36838 2.05446 14.3283 0 19.5 0C24.6717 0 29.6316 2.05446 33.2886 5.71142C36.9455 9.36838 39 14.3283 39 19.5C39 24.6717 36.9455 29.6316 33.2886 33.2886C29.6316 36.9455 24.6717 39 19.5 39C14.3283 39 9.36838 36.9455 5.71142 33.2886C2.05446 29.6316 0 24.6717 0 19.5ZM17.0625 21.9375H21.9375V9.75H17.0625V21.9375ZM21.9375 26.8125C21.9375 26.166 21.6807 25.546 21.2236 25.0889C20.7665 24.6318 20.1465 24.375 19.5 24.375C18.8535 24.375 18.2335 24.6318 17.7764 25.0889C17.3193 25.546 17.0625 26.166 17.0625 26.8125C17.0625 27.459 17.3193 28.079 17.7764 28.5361C18.2335 28.9932 18.8535 29.25 19.5 29.25C20.1465 29.25 20.7665 28.9932 21.2236 28.5361C21.6807 28.079 21.9375 27.459 21.9375 26.8125Z" fill="#FF2F00" />
                </svg>
              .order-detail-modal__warning-text График работы изменился: <br>20.06.2025 — 27.06.2025 выходные
        .user__main-header
          .user__main-header-left
            h2.user__title Ordered files
          .user__main-header-right
            button.user__new-order-btn.p-btn.p-btn_orange New order

        .user__table-container
          table.user__table
            thead
              tr
                th Order №
                th Information
                th Order status
                th Priority
                th Price, YT
                th Original file
                th Modificated file
                th Tickets
            tbody
              tr.user__order-row(
                hx-get="/php/order-details.php?id=28012024-3"
                hx-target="#order-modal-container"
                hx-trigger="click"
              )
                td 28012024-3
                td Opel Vectra-C 1.9 CDTI Bosch EDC16C39
                td
                  .user__status.user__status--pending Pending
                td
                  .user__priority.user__priority--urgent 1-2 hours
                td 100
                td
                  button.user__download.user__download--disabled Download
                td
                  button.user__download.user__download--disabled Download
                td
                  .user__ticket-btn Create
              tr
                td 28012024-3
                td Opel Vectra-C 1.9 CDTI Bosch EDC16C39
                td
                  .user__status.user__status--pending Pending
                td
                  .user__priority.user__priority--urgent 1-2 hours
                td 100
                td
                  button.user__download.user__download--disabled Download
                td
                  button.user__download.user__download--disabled Download
                td
                  .user__ticket-btn Create
              tr
                td 28012024-3
                td Opel Vectra-C 1.9 CDTI Bosch EDC16C39
                td
                  .user__status.user__status--completed Сompleted
                td
                  .user__priority.user__priority--urgent 1-2 hours
                td 100
                td
                  a(href="#!").user__download.user__download--active Download
                td
                  a(href="#!").user__download.user__download--active Download
                td
                  .user__ticket-btn.user__ticket-btn--open Open
              tr
                td 28012024-3
                td Opel Vectra-C 1.9 CDTI Bosch EDC16C39
                td
                  .user__status.user__status--pending Pending
                td
                  .user__priority 12-48 hours
                td 100
                td
                  button.user__download.user__download--disabled Download
                td
                  button.user__download.user__download--disabled Download
                td
                  .user__ticket-btn Create
              tr
                td 28012024-3
                td Opel Vectra-C 1.9 CDTI Bosch EDC16C39
                td
                  .user__status.user__status--progress In progress
                td
                  .user__priority.user__priority--medium 2-4 hours
                td 100
                td
                  button.user__download.user__download--disabled Download
                td
                  button.user__download.user__download--disabled Download
                td
                  .user__ticket-btn Create
              tr
                td 28012024-3
                td Opel Vectra-C 1.9 CDTI Bosch EDC16C39
                td
                  .user__status.user__status--canceled Сanceled
                td
                  .user__priority.user__priority--slow 4-12 hours
                td 100
                td
                  button.user__download.user__download--disabled Download
                td
                  button.user__download.user__download--disabled Download
                td
                  .user__ticket-btn.user__ticket-btn--open Open
              tr
                td 28012024-3
                td Opel Vectra-C 1.9 CDTI Bosch EDC16C39
                td
                  .user__status.user__status--pending Pending
                td
                  .user__priority.user__priority--urgent 1-2 hours
                td 100
                td
                  button.user__download.user__download--disabled Download
                td
                  button.user__download.user__download--disabled Download
                td
                  .user__ticket-btn Create
              tr
                td 28012024-3
                td Opel Vectra-C 1.9 CDTI Bosch EDC16C39
                td
                  .user__status.user__status--pending Pending
                td
                  .user__priority.user__priority--urgent 1-2 hours
                td 100
                td
                  button.user__download.user__download--disabled Download
                td
                  button.user__download.user__download--disabled Download
                td
                  .user__ticket-btn Create
              tr
                td 28012024-3
                td Opel Vectra-C 1.9 CDTI Bosch EDC16C39
                td
                  .user__status.user__status--completed Сompleted
                td
                  .user__priority.user__priority--urgent 1-2 hours
                td 100
                td
                  a(href="#!").user__download.user__download--active Download
                td
                  a(href="#!").user__download.user__download--active Download
                td
                  .user__ticket-btn.user__ticket-btn--open Open
              tr
                td 28012024-3
                td Opel Vectra-C 1.9 CDTI Bosch EDC16C39
                td
                  .user__status.user__status--pending Pending
                td
                  .user__priority 12-48 hours
                td 100
                td
                  button.user__download.user__download--disabled Download
                td
                  button.user__download.user__download--disabled Download
                td
                  .user__ticket-btn Create
              tr
                td 28012024-3
                td Opel Vectra-C 1.9 CDTI Bosch EDC16C39
                td
                  .user__status.user__status--progress In progress
                td
                  .user__priority.user__priority--medium 2-4 hours
                td 100
                td
                  button.user__download.user__download--disabled Download
                td
                  button.user__download.user__download--disabled Download
                td
                  .user__ticket-btn Create
              tr
                td 28012024-3
                td Opel Vectra-C 1.9 CDTI Bosch EDC16C39
                td
                  .user__status.user__status--canceled Сanceled
                td
                  .user__priority.user__priority--slow 4-12 hours
                td 100
                td
                  button.user__download.user__download--disabled Download
                td
                  button.user__download.user__download--disabled Download
                td
                  .user__ticket-btn.user__ticket-btn--open Open

        .user__pagination
          a.user__pagination-item.user__pagination-item_arrow
            <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.90344 14.8191C8.1043 14.6182 8.21714 14.3457 8.21714 14.0616C8.21714 13.7775 8.1043 13.505 7.90344 13.3041L2.59987 8.00054L7.90344 2.69697C8.09861 2.4949 8.20661 2.22425 8.20417 1.94333C8.20172 1.6624 8.08904 1.39367 7.89039 1.19502C7.69174 0.996368 7.42301 0.883689 7.14209 0.881248C6.86116 0.878806 6.59052 0.9868 6.38844 1.18197L0.327373 7.24304C0.126511 7.44396 0.0136728 7.71644 0.0136728 8.00054C0.0136728 8.28465 0.126511 8.55712 0.327372 8.75804L6.38844 14.8191C6.58937 15.02 6.86184 15.1328 7.14594 15.1328C7.43005 15.1328 7.70252 15.02 7.90344 14.8191Z" fill="#F56E0F" />
            </svg>
          span.user__pagination-item.user__pagination-item--active 1
          a(href="#!").user__pagination-item 2
          a(href="#!").user__pagination-item 3
          a(href="#!").user__pagination-item 4
          a(href="#!").user__pagination-item 5
          a(href="#!").user__pagination-item 6
          a(href="#!").user__pagination-item 7
          a(href="#!").user__pagination-item 8
          a(href="#!").user__pagination-item 9
          a(href="#!").user__pagination-item 10
          span.user__pagination-item .....
          a.user__pagination-item.user__pagination-item_arrow
            <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.09656 1.18089C0.895696 1.38181 0.782858 1.65428 0.782858 1.93839C0.782858 2.22249 0.895696 2.49496 1.09656 2.69589L6.40013 7.99946L1.09656 13.303C0.901388 13.5051 0.793394 13.7758 0.795835 14.0567C0.798276 14.3376 0.910957 14.6063 1.10961 14.805C1.30826 15.0036 1.57699 15.1163 1.85791 15.1188C2.13884 15.1212 2.40948 15.0132 2.61156 14.818L8.67263 8.75696C8.87349 8.55604 8.98633 8.28356 8.98633 7.99946C8.98633 7.71535 8.87349 7.44288 8.67263 7.24196L2.61156 1.18089C2.41063 0.980025 2.13816 0.867187 1.85406 0.867187C1.56995 0.867187 1.29748 0.980025 1.09656 1.18089Z" fill="#F56E0F" />
            </svg>
// Контейнер для модального окна заказа
#order-modal-container
