.user__header
  a.header__logo(href='/')
    +img({
      src: '/images/header/logo.webp',
      width: 70,
      height: 70,
      alt: '',
    })

  .user__top-actions
    .user__actions
      .user__icon-actions
        .user__icon-btn.user__icon-btn--search
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.15 18.375L11.6375 12.8625C11.2 13.2125 10.6969 13.4896 10.1281 13.6937C9.55938 13.8979 8.95417 14 8.3125 14C6.72292 14 5.37775 13.4493 4.277 12.348C3.17625 11.2467 2.62558 9.9015 2.625 8.3125C2.62442 6.7235 3.17508 5.37833 4.277 4.277C5.37892 3.17567 6.72408 2.625 8.3125 2.625C9.90092 2.625 11.2464 3.17567 12.3489 4.277C13.4514 5.37833 14.0018 6.7235 14 8.3125C14 8.95417 13.8979 9.55937 13.6938 10.1281C13.4896 10.6969 13.2125 11.2 12.8625 11.6375L18.375 17.15L17.15 18.375ZM8.3125 12.25C9.40625 12.25 10.3361 11.8673 11.102 11.102C11.8679 10.3367 12.2506 9.40683 12.25 8.3125C12.2494 7.21817 11.8668 6.28863 11.102 5.52388C10.3373 4.75913 9.40742 4.37617 8.3125 4.375C7.21758 4.37383 6.28804 4.75679 5.52388 5.52388C4.75971 6.29096 4.37675 7.2205 4.375 8.3125C4.37325 9.4045 4.75621 10.3343 5.52388 11.102C6.29154 11.8697 7.22108 12.2523 8.3125 12.25Z" fill="#F5F5F5"/>
          </svg>
          form().user__search-container
            .user__search-arrow
              <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.3782 1.24719C11.1765 0.141069 12.8235 0.141072 13.6218 1.24719L22.7023 13.8296C23.6569 15.1523 22.7118 17 21.0806 17H2.91943C1.28822 17 0.343069 15.1523 1.29767 13.8296L10.3782 1.24719Z" fill="#F5F5F5" />
              </svg>
            .user__search
              input(type="text" placeholder="BMW")
              button.user__search-btn
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M21.5 23.25L13.625 15.375C13 15.875 12.2813 16.2708 11.4688 16.5625C10.6563 16.8542 9.79167 17 8.875 17C6.60417 17 4.6825 16.2133 3.11 14.64C1.5375 13.0667 0.750834 11.145 0.750001 8.875C0.749167 6.605 1.53583 4.68333 3.11 3.11C4.68417 1.53667 6.60583 0.75 8.875 0.75C11.1442 0.75 13.0663 1.53667 14.6413 3.11C16.2163 4.68333 17.0025 6.605 17 8.875C17 9.79167 16.8542 10.6562 16.5625 11.4688C16.2708 12.2812 15.875 13 15.375 13.625L23.25 21.5L21.5 23.25ZM8.875 14.5C10.4375 14.5 11.7658 13.9533 12.86 12.86C13.9542 11.7667 14.5008 10.4383 14.5 8.875C14.4992 7.31167 13.9525 5.98375 12.86 4.89125C11.7675 3.79875 10.4392 3.25167 8.875 3.25C7.31083 3.24833 5.98292 3.79542 4.89125 4.89125C3.79958 5.98708 3.2525 7.315 3.25 8.875C3.2475 10.435 3.79458 11.7633 4.89125 12.86C5.98792 13.9567 7.31583 14.5033 8.875 14.5Z" fill="#F56E0F" />
                </svg>
        a(href="#!").user__icon-btn.active
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M4.16667 3.33333C4.16667 2.44928 4.51786 1.60143 5.14298 0.976311C5.7681 0.351189 6.61594 0 7.5 0C8.38406 0 9.2319 0.351189 9.85702 0.976311C10.4821 1.60143 10.8333 2.44928 10.8333 3.33333C10.8333 4.21739 10.4821 5.06523 9.85702 5.69036C9.2319 6.31548 8.38406 6.66667 7.5 6.66667C6.61594 6.66667 5.7681 6.31548 5.14298 5.69036C4.51786 5.06523 4.16667 4.21739 4.16667 3.33333ZM4.16667 8.33333C3.0616 8.33333 2.00179 8.77232 1.22039 9.55372C0.438987 10.3351 0 11.3949 0 12.5C0 13.163 0.263392 13.7989 0.732233 14.2678C1.20107 14.7366 1.83696 15 2.5 15H12.5C13.163 15 13.7989 14.7366 14.2678 14.2678C14.7366 13.7989 15 13.163 15 12.5C15 11.3949 14.561 10.3351 13.7796 9.55372C12.9982 8.77232 11.9384 8.33333 10.8333 8.33333H4.16667Z" fill="#F5F5F5"/>
          </svg>
        button(type="button").user__icon-btn.user__icon-btn--logout.modal__show(data-modal="exit")
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.375 18.375C3.89375 18.375 3.48192 18.2038 3.1395 17.8614C2.79708 17.519 2.62558 17.1068 2.625 16.625V4.375C2.625 3.89375 2.7965 3.48192 3.1395 3.1395C3.4825 2.79708 3.89433 2.62558 4.375 2.625H9.625C9.87292 2.625 10.0809 2.709 10.2489 2.877C10.4169 3.045 10.5006 3.25267 10.5 3.5C10.4994 3.74733 10.4154 3.95529 10.248 4.12387C10.0806 4.29246 9.87292 4.37617 9.625 4.375H4.375V16.625H9.625C9.87292 16.625 10.0809 16.709 10.2489 16.877C10.4169 17.045 10.5006 17.2527 10.5 17.5C10.4994 17.7473 10.4154 17.9553 10.248 18.1239C10.0806 18.2925 9.87292 18.3762 9.625 18.375H4.375ZM15.0281 11.375H8.75C8.50208 11.375 8.29442 11.291 8.127 11.123C7.95958 10.955 7.87558 10.7473 7.875 10.5C7.87442 10.2527 7.95842 10.045 8.127 9.877C8.29558 9.709 8.50325 9.625 8.75 9.625H15.0281L13.3875 7.98438C13.2271 7.82396 13.1469 7.62708 13.1469 7.39375C13.1469 7.16042 13.2271 6.95625 13.3875 6.78125C13.5479 6.60625 13.7521 6.51496 14 6.50737C14.2479 6.49979 14.4594 6.58379 14.6344 6.75938L17.7625 9.8875C17.9375 10.0625 18.025 10.2667 18.025 10.5C18.025 10.7333 17.9375 10.9375 17.7625 11.1125L14.6344 14.2406C14.4594 14.4156 14.2517 14.4996 14.0114 14.4926C13.771 14.4856 13.5631 14.3943 13.3875 14.2188C13.2271 14.0437 13.1507 13.8361 13.1582 13.5957C13.1658 13.3554 13.2495 13.1547 13.4094 12.9938L15.0281 11.375Z" fill="#F5F5F5"/>
          </svg>
