.user__content-left
  .user__sidebar
    .user__menu
      .user__menu-item.user__menu-item--active
        span.user__menu-title Ordered files
        span.user__menu-count 12
      a(href="#!").user__menu-item
        span.user__menu-title Tickets
        span.user__menu-count 2
      a(href="#!").user__menu-item
        span.user__menu-title Payments
      a(href="#!").user__menu-item
        span.user__menu-title Users
      a(href="#!").user__menu-item
        span.user__menu-title Companies
      a(href="#!").user__menu-item
        span.user__menu-title History
      a(href="#!").user__menu-item
        span.user__menu-title Notifications
