.server-error {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 0;
  overflow: hidden;

  &._405 {
    --error-item-margin-top: -22px;
    --error-item-width: 776px;
    --error-title-size: 48px;
  }

  &._user-block {
    --error-item-margin-top: -22px;
    --error-item-width: 917px;
    --error-title-size: 96px;
  }

  &__title {
    font-weight: 500;
    font-size: var(--error-title-size, 320px);
    line-height: 100%;
    text-transform: uppercase;
    backdrop-filter: blur(4px);
    background: linear-gradient(
      139.74deg,
      rgb(217 217 217 / 50%) 0%,
      rgb(115 115 115 / 0%) 120.308%
    );
    background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: transparent;
    text-align: center;
    max-width: var(--error-item-width, 639px);
    margin-left: auto;
    margin-right: auto;
  }

  &__item {
    border: 1px solid rgb(255 255 255 / 10%);
    border-radius: 20px;
    padding: 40px 90px;
    backdrop-filter: blur(3.4px);
    background: rgb(255 255 255 / 8%);
    max-width: var(--error-item-width, 639px);
    width: 100%;
    margin: 0 auto;
    margin-top: var(--error-item-margin-top, -111px);
    text-align: center;

    &-title {
      font-weight: 700;
      font-size: 28px;
      line-height: 114%;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 10px;
    }

    &-btn {
      margin-top: 30px;
    }

    &-last {
      margin-top: 30px;
      font-weight: 500;

      a {
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
    }
  }
}

@media screen and (width <= 1000px) {
  .server-error {
    padding: 100px 0;

    &__item {
      &-text {
        max-width: 430px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &._405 {
      --error-title-size: 32px;
      --error-item-width: 607px;

      .server {
        &-error {
          &__title {
            font-weight: 400;
          }
        }
      }
    }

    &._user-block {
      --error-item-margin-top: -15px;
      --error-item-width: 611px;
      --error-title-size: 64px;

      .server-error {
        &__item {
          padding: 40px;
        }
      }
    }
  }
}

@media screen and (width <= 768px) {
  .server-error {
    --error-title-size: 159px;
    --error-item-margin-top: -36px;
    --error-item-width: 360px;

    &__item {
      padding: 40px 18px;

      &-title {
        font-size: 24px;
        line-height: 117%;
      }

      &-btn {
        padding: 16px 30px;
        font-size: 16px;
        line-height: 125%;
      }

      &-last {
        margin-top: 24px;
        font-size: 12px;
        line-height: 167%;
      }
    }

    &._405 {
      --error-item-margin-top: -14px;
    }

    &._user-block {
      --error-item-margin-top: -9px;
      --error-item-width: 611px;
      --error-title-size: 40px;

      .server-error {
        &__item {
          padding: 30px 18px;
        }
      }
    }
  }
}
