.user {
  padding-top: 40px;
  background: #151419;
  min-height: 100vh;
  padding-bottom: 100px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    gap: 172px;
  }

  &__stats {
    display: flex;
    gap: 20px;
  }

  &__stat {
    background: var(--303038);
    border-radius: 75px;
    padding: 20px 50px;
    font-size: 20px;
    line-height: 120%;
  }

  &__search-container {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 15px;
    top: 100%;
    margin-top: 28px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
  }

  &__search-arrow {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  &__search {
    display: flex;
    align-items: center;
    background: var(--f5f5f5, #f5f5f5);
    border-radius: 75px;
    padding: 17px 20px;
    gap: 10px;
    width: 380px;

    input {
      background: none;
      border: none;
      outline: none;
      flex: 1;
      font-size: 20px;
      font-weight: 500;
      color: var(--999999);

      &::placeholder {
        color: var(--999999);
      }
    }
  }

  &__search-btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__top-actions {
    display: flex;
    align-items: center;
    gap: 52px;
    width: 100%;
  }

  &__time-info {
    display: flex;
    align-items: center;
    gap: 152px;
  }

  &__time-block {
    background: var(--303038);
    border-radius: 75px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    line-height: 120%;
  }

  &__time {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    text-transform: uppercase;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
  }

  &__icon-actions {
    display: flex;
    gap: 20px;
  }

  &__icon-btn {
    width: 40px;
    height: 40px;
    border: 1px solid var(--f5f5f5);
    border-radius: 50%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;

    &:hover {
      background: rgb(245 245 245 / 10%);
    }

    &-badge {
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 8px;
      line-height: 100%;
      color: var(--f5f5f5);
      background: var(--f56e0f);
      top: -1px;
      right: -1px;
    }

    &--search {
      &.active {
        .user__search-container {
          display: flex;
        }
      }
    }

    &--notifications {
      position: relative;

      &.active {
        .user__notifications-popup {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__content {
    display: flex;
    gap: 30px;
    align-items: flex-start;

    &-left {
      width: 201px;
    }
  }

  &__sidebar {
    background: var(--f56e0f, #f56e0f);
    border-radius: 20px;
    padding: 38px 28px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
  }

  &__menu-item {
    font-size: 20px;
    line-height: 120%;
    cursor: pointer;
    position: relative;

    span {
      position: relative;
      z-index: 2;
    }

    &--active {
      &::before {
        content: '';
        position: absolute;
        top: -18px;
        left: -19px;
        right: -19px;
        bottom: -18px;
        border-radius: 10px;
        backdrop-filter: blur(6px);
        background: linear-gradient(134.75deg, rgba(255, 255, 255, 0.5), rgba(245, 110, 15, 0.25) 113.71%)
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: calc(100% - 201px - 30px);
  }

  &__main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 114%;
    text-transform: uppercase;
    color: var(--f5f5f5);
  }

  &__table-container {
    position: relative;
    margin-top: 18px;
  }

  &__table {
    width: 100%;
    background: #1c1b20;
    border-collapse: collapse;
    border-radius: 24px;

    :is(th, td) {
      font-size: 14px;
      line-height: 129%;
      color: var(--f5f5f5);
      border: 1px solid var(--303038);

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }

    tr {
      &:first-child {
        th {
          border-top: none;
        }
      }

      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }

    th {
      font-weight: 400;
      padding: 16px 8px;

      &:nth-child(1) {
        width: 121px;
      }

      &:nth-child(2) {
        width: 249px;
      }

      &:nth-child(3) {
        width: 121px;
      }

      &:nth-child(4) {
        width: 121px;
      }

      &:nth-child(5) {
        width: 121px;
      }

      &:nth-child(6) {
        width: 121px;
      }

      &:nth-child(7) {
        width: 129px;
      }

      &:nth-child(8) {
        width: 115px;
      }
    }

    td {
      padding: 8px 16px;
      font-size: 14px;
      line-height: 129%;
      text-align: center;

      &:nth-child(2) {
        text-align: left;
      }
    }

    tbody tr {
      &:hover {
        background: rgb(48 48 56 / 30%);
      }
    }
  }

  &__status {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 6px;
    min-width: 91px;

    &--pending {
      background: #884518;
      color: var(--f56e0f);
    }

    &--completed {
      background: #367421;
      color: #4f0;
    }

    &--progress {
      background: #00267d;
      color: #2f6dff;
    }

    &--canceled {
      background: #9a1f03;
      color: #ff2f00;
    }
  }

  &__priority {
    &--urgent {
      color: #ff2f00;
    }

    &--medium {
      color: #f5cf0f;
    }

    &--slow {
      color: #4f0;
    }

  }

  &__download {
    display: flex;
    align-items: center;
    gap: 2px;
    background: none;
    border: none;
    letter-spacing: -0.02em;
    cursor: pointer;
    transition: all 0.3s ease;

    &--disabled {
      letter-spacing: -0.02em;
      color: #615c58;
      cursor: not-allowed;
    }

    &--active {
      color: var(--f56e0f);

      &:hover {
        color: var(--f56e0f);
      }
    }

    &::after {
      content: '';
      width: 16px;
      height: 16px;
      background: url("/images/user/icons/download.svg") center/contain no-repeat;
    }

    &--active::after {
      background: url("/images/user/icons/download-orange.svg") center/contain no-repeat;
    }
  }

  &__ticket-btn {
    display: flex;
    align-items: center;
    gap: 2px;
    background: none;
    border: none;
    transition: all 0.3s ease;
    color: var(--f5f5f5);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;


    &::after {
      content: '';
      width: 15px;
      height: 15px;
      background: url("/images/user/icons/ticket.svg") center/contain no-repeat;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 30px;
    padding: 0 20px;
  }

  &__pagination-item {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--999999);

    &--active {
      color: var(--f5f5f5);
    }

    &:hover:not(&--active) {
      color: var(--f5f5f5);
    }
  }

  &__schedule {
    background: var(--303038);
    margin-top: 40px;
    border-radius: 20px;
  }

  &__schedule-item {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 6px 15px;
    text-align: center;
    border-bottom: 1px solid #404040;

    &:last-child {
      border-bottom: none;
    }

    &--closed {

      .user__schedule-day,
      .user__schedule-time {
        color: #929296;
      }
    }
  }

  &__schedule-day {
    font-weight: 500;
    font-size: 16px;
    line-height: 137%;
  }

  &__schedule-time {
    font-size: 14px;
    line-height: 157%;
  }

  // Стили для всплывающего окна уведомлений
  &__notifications-popup {
    position: absolute;
    top: 100%;
    right: -60px;
    margin-top: 35px;
    width: 427px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;

  }

  &__notifications-arrow {
    position: absolute;
    top: -15px;
    right: 67px;
  }

  &__notifications-content {
    background: #f5f5f5;
    border-radius: 20px;
  }

  &__notification-item {
    cursor: pointer;
    transition: opacity 0.3s ease;
    padding: 20px 12px 20px 20px;
    font-size: 14px;
    line-height: 129%;

    &[data-read="true"] {
      color: #615c58;
      cursor: default;

      .user__notification-desc {
        color: #615c58;
      }
    }

    &[data-read="false"] {
      cursor: pointer;

      .user__notification-title,
      .user__notification-desc {
        color: #000;
      }

      .user__notification-time,
      .user__notification-ago {
        color: #615c58;
      }
    }
  }

  &__notification-header {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4px;
  }

  &__notification-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
  }

  &__notification-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f56e0f;
  }

  &__notification-meta {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 150%;
  }


  &__notification-desc {
    color: #000;
    margin-top: 10px;
    text-wrap: balance;
  }

  &__notifications-separator {
    height: 1px;
    background: #999;
  }

  // Добавляем класс для строк таблицы, чтобы показать курсор
  &__order-row {
    cursor: pointer;
  }
}


// Стили для детального модального окна заказа
.order-detail-modal {
  background: rgba(21, 20, 25, 0.5);


  &__content {
    width: 1197px;
    max-width: 100%;
    margin: 60px auto;
    background: var(--303038);
    border-radius: 24px;
    padding: 50px;
    position: relative;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__content-table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #1c1b20;
    border-radius: 24px;
  }

  &__row {
    display: grid;
    grid-template-columns: 337px 1fr;
    border-bottom: 1px solid #303038;
    font-size: 14px;
    line-height: 129%;

    &:last-child {
      border-bottom: none;
    }
  }

  &__label {
    padding: 16px 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background: #303038;
    }
  }

  &__value {
    padding: 16px 30px;
  }

  &__file-output {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    font-weight: 400;
    color: #f5f5f5;
    background: #f56e0f;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
  }

  &__warnings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    margin-top: 30px;
  }

  &__warning {
    display: flex;
    background: #f5f5f5;
    border-radius: 20px;
    padding: 20px 50px;
    gap: 7.5px;
    min-height: 76px;
    position: relative;
  }

  &__warning-icon {
    position: absolute;
    top: 6px;
    right: 6px;
  }

  &__warning-text {
    font-size: 14px;
    line-height: 129%;
    color: #1b1b1c;
    max-width: 980px;
  }
}
