@media screen and (max-width: 1340px) {
  .user {
    &__time {
      gap: 15px;

      &-block {
        font-size: 16px;
        gap: 15px;
        padding: 20px 30px;
      }
    }

    &__top {
      &-actions {
        gap: 26px;
      }
    }

    &__stat {
      font-size: 16px;
      padding: 20px 30px;
    }

    &__main {
      &-warning {
        max-width: 449px;
      }
    }
  }

}

@media screen and (max-width: 1200px) {
  .user {
    padding-top: 27.5px;
    padding-bottom: 60px;

    &__time {
      &-info {
        display: none;
        margin-bottom: 20px;

        &._tablet {
          display: flex;
        }
      }

      &-block {
        width: 100%;
        justify-content: center;
        padding: 20px 43px;
        font-size: 20px;
      }
    }

    &__stat {
      font-size: 20px;
    }

    &__main {
      width: 100%;

      &-warning {
        display: none;
      }

      &-top {
        margin-bottom: 40px;
      }
    }

    &__menu {
      background: var(--f56e0f);
      padding: 38px 28px;
      border-radius: 20px;
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 12px;
      z-index: 2;
      width: max-content;
      display: none;

      &-block {
        position: relative;
        display: block;

        &.active {
          .user {
            &__menu {
              display: flex;

              &-click {
                svg {
                  display: none;

                  &:nth-child(2){
                    display: flex;
                  }
                }
              }
            }
          }
        }
      }

      &-click {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }

    &__content {
      &-left {
        display: none;
      }
    }

    &__table {
      width: max-content;
      min-width: 100%;

      &-container {
        margin-left: -24px;
        margin-right: -24px;
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 12px;
        overflow-x: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--999999) #302e2e;

        &::-webkit-scrollbar {
          width: 12px;
        }

        &::-webkit-scrollbar-track {
          background: #302e2e;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--999999);
          border-radius: 5px;
          border: 3px solid #302e2e;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .user {
    padding-top: 14px;

    &__header {
      gap: 15px;
      margin-bottom: 30px;
    }

    &__recharge {
      &-btn {
        padding: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          display: none;
        }

        svg {
          display: flex;
        }
      }
    }

    &__actions {
      gap: 10px;
    }

    &__icon {
      &-actions {
        gap: 10px;
      }
    }

    &__time {
      gap: 20px;

      &-block {
        padding: 12px 19.5px;
        gap: 20px;
        font-size: 14px;
        line-height: 143%;
      }
    }

    &__stats {
      gap: 16px;
    }

    &__stat {
      padding: 16px;
      font-size: 14px;
      line-height: 143%;
    }

    &__main {
      &-top {
        gap: 10px;
        margin-bottom: 24px;
      }
    }

    &__menu {
      &-click {
        svg {
          width: 15px;
        }
      }
    }

    &__title {
      font-size: 20px;
      line-height: 120%;
    }

    &__new {
      &-order {
        &-btn {
          display: none;
        }
      }
    }

    &__pagination {
      justify-content: space-between;

      &-item {
        font-size: 20px;

        &_arrow {
          width: 30px;
          border-radius: 9px;
          height: 30px;

          svg {
            width: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .user {
    .header {
      &__logo {
        img {
          width: 55px;
        }
      }
    }

    &__time {
      &-block {
        gap: 10px;
        padding: 12px;
        font-size: 12px;
      }
    }
  }
}
