@media screen and (width <= 1340px) {
  .user {
    &__time {
      gap: 15px;

      &-block {
        font-size: 16px;
        gap: 15px;
        padding: 20px 30px;
      }
    }

    &__top {
      &-actions {
        gap: 26px;
      }
    }

    &__stat {
      font-size: 16px;
      padding: 20px 30px;
    }

    &__main {
      &-warning {
        max-width: 449px;
      }
    }
  }
}

@media screen and (width <= 1200px) {
  .user {
    padding-top: 27.5px;
    padding-bottom: 60px;

    &__time {
      &-info {
        display: none;
        margin-bottom: 20px;

        &._tablet {
          display: flex;
        }
      }

      &-block {
        width: 100%;
        justify-content: center;
        padding: 20px 43px;
        font-size: 20px;
      }
    }

    &__stat {
      font-size: 20px;
    }

    &__chat {
      --chat-text: 87px;

      &-message {
        max-width: 369px;
      }

      &-text {
        &-subtitle {
          max-width: 300px;
        }

        &-btns {
          top: 14px;
          right: 14px;
          transform: none;
        }
      }
    }

    &__main {
      width: 100%;

      &-warning {
        display: none;
      }

      &-top {
        margin-bottom: 40px;
      }

      &-header {
        .user {
          &__menu {
            &-block {
              margin-bottom: 30px;
            }
          }
        }

        &-btns {
          &_notifications {
            gap: 6px;

            .p-btn {
              padding: 20px 16px;
            }

            &._mb {
              display: none;
            }
          }
        }

        &_profile {
          .user__menu-block {
            margin-bottom: 0;
          }

          .user__breadcrumbs-block {
            margin-bottom: 30px;
          }
        }

        &_admin-order {
          margin-top: 20px;
        }
      }

      &_user {
        &-profile {
          .user__payments-stats {
            margin-top: 0;
          }
        }
      }
    }

    &__company {
      &-menu {
        margin-bottom: 30px;
      }
    }

    &__date {
      &_incoives {
        margin-bottom: 16px;
      }

      &-item {
        padding: 20px 30px;
      }
    }

    &__menu {
      background: var(--f56e0f);
      padding: 38px 28px;
      border-radius: 20px;
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 12px;
      z-index: 20;
      width: max-content;
      display: none;

      &-block {
        position: relative;
        display: block;

        &.active {
          .user {
            &__menu {
              display: flex;

              &-click {
                svg {
                  display: none;

                  &:nth-child(2) {
                    display: flex;
                  }
                }
              }
            }
          }
        }
      }

      &-click {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -2px;

        svg {
          &:nth-child(2) {
            display: none;
          }
        }
      }

      &-item {
        padding-right: 20px;
      }
    }

    &__content {
      &-left {
        display: none;
      }
    }

    &__table {
      width: max-content;
      min-width: 100%;

      &-container {
        margin-top: 12px;
        overflow-x: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--999999) #302e2e;
        overflow-y: hidden;

        &::-webkit-scrollbar {
          width: 12px;
        }

        &::-webkit-scrollbar-track {
          background: #302e2e;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--999999);
          border-radius: 5px;
          border: 3px solid #302e2e;
        }
      }

      &_companies {
        :is(th, td) {
          text-align: left;
          padding-left: 22px;
          padding-right: 22px;
        }

        td {
          &:nth-child(2) {
            text-align: left;
          }
        }
      }
    }

    &__order {
      &-left {
        display: flex;
        flex-direction: column;
        gap: 43px;
      }

      &-right {
        .user {
          &__stats {
            flex-direction: column;
            gap: 10px;
          }
        }
      }

      &-main {
        margin-top: 5px;
        grid-template-columns: auto;
      }

      &-info {
        grid-template-columns: auto;

        .user {
          &__input {
            &:nth-child(4) {
              order: 1;
            }

            &:nth-child(6) {
              order: 2;
            }
          }
        }
      }
    }

    &__input {
      &-el {
        textarea {
          height: 139px;
        }
      }
    }

    &__checkboxes {
      gap: 20px;
    }

    &__breadcrumbs {
      margin-bottom: 0;

      &-block {
        display: flex;
        align-items: center;
        gap: 30px;
      }
    }

    &__recharge {
      &-radios {
        gap: 8px;
      }
    }

    &__set {
      &-priority {
        &-btn {
          padding: 14px 30px;
          font-size: 16px;
          line-height: 137%;
        }

        &-abs {
          right: 0;
        }
      }
    }

    &__tabs {
      margin: 30px 0;
    }

    &__payments {
      &-stats {
        gap: 16px;
      }

      &-bottom {
        align-items: flex-start;
      }

      &-left {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__profile {
      &-btns {
        right: 20px;
        top: 20px;
      }
    }

    &-select {
      &_status {
        .user {
          &-select {
            &__abs {
              top: auto;
              bottom: 100%;
              margin-bottom: -6px;
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  .order {
    &-detail {
      &-modal {
        padding-left: 24px;
        padding-right: 24px;

        &__content {
          width: 100%;
          padding: 40px 16px;

          &-table {
            min-width: 100%;
          }
        }

        &__warnings {
          margin-top: 20px;
        }

        &__row {
          grid-template-columns: 138px 1fr;
        }

        &__label,
        &__value {
          padding: 16px 20px;
        }

        &__close {
          top: 16px;
        }

        &__warning {
          padding: 20px;

          &-icon {
            svg {
              width: 20px;
            }
          }

          &-text {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (width <= 768px) {
  .user {
    padding-top: 14px;

    .simplebar {
      &-track {
        background: transparent;
      }
    }

    &__download {
      &-btn {
        padding: 14px 20px;
        font-size: 16px;
      }
    }

    &__header {
      gap: 15px;
      margin-bottom: 30px;
    }

    &__tabs {
      margin-bottom: 16px;
      margin-top: 24px;
    }

    &__chat {
      border-radius: 10px;
      margin-top: 0;

      --chat-text: 104px;
      --chat-bottom: 90px;

      &-left,
      &-right {
        display: none;
        width: 100%;

        &.active {
          display: block;
        }
      }

      &-filters {
        justify-content: space-between;
        gap: 20px;

        &::after {
          display: none;
        }
      }

      &-tickets {
        &-item {
          padding: 16px;
        }
      }

      &-text {
        padding: 6px 52px;

        &-title {
          font-size: 14px;
          line-height: 143%;
        }

        &-return {
          display: flex;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 6px;
          left: 6px;
          background: var(--f5f5f5);
        }

        &-subtitle {
          font-size: 12px;
          line-height: 117%;
          max-width: 100%;
        }

        &-btns {
          flex-direction: column;
          gap: 6px;
          top: 6px;
          right: 6px;
        }
      }

      &-bottom {
        padding: 20px 10px;
        gap: 6px;
      }

      &-input {
        padding: 16px 12px;
      }

      &-search {
        &::after {
          display: none;
        }
      }

      &-messages {
        padding: 10px 6px;
      }

      &-message {
        max-width: 274px;
        font-size: 10px;
        line-height: 140%;
      }
    }

    &__profile {
      padding: 70px 16px 20px;
      margin-bottom: 16px;

      &-list {
        grid-template-columns: auto;
        gap: 10px;
      }

      &-title {
        font-size: 20px;
        line-height: 110%;
        margin-bottom: 17px;
      }

      &-edit {
        margin-top: 17px;
      }
    }

    &__company {
      &-btn {
        display: none;

        &._mb {
          display: flex;
          margin-top: 20px;
        }
      }
    }

    &__recharge {
      &-btn {
        padding: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          display: none;
        }

        svg {
          display: flex;
        }
      }

      &-block {
        margin-top: 16px;
        gap: 20px;
      }

      &-amount {
        &-title {
          font-size: 12px;
          line-height: 117%;
          margin-bottom: 6px;
        }

        &-input {
          margin-bottom: 10px;
        }
      }

      &-price {
        margin-top: 10px;
      }

      &-radios {
        grid-template-columns: 1fr;
        margin-top: 12px;
        gap: 14px;
      }

      &-title {
        font-size: 20px;
        margin-bottom: 12px;
        line-height: 120%;
      }

      &-radio {
        &-title,
        &-desc {
          display: inline-block;
          font-size: 16px;
          line-height: 125%;
          font-weight: 500;
          margin: 0;
        }

        &-item {
          font-size: 16px;
          line-height: 125%;
        }
      }
    }

    &__actions {
      gap: 10px;
    }

    &__icon {
      &-actions {
        gap: 10px;
      }
    }

    &__time {
      gap: 20px;

      &-block {
        padding: 12px 19.5px;
        gap: 20px;
        font-size: 14px;
        line-height: 143%;
      }
    }

    &__stats {
      gap: 16px;
    }

    &__stat {
      padding: 16px;
      font-size: 14px;
      line-height: 143%;
    }

    &__main {
      &-top {
        gap: 10px;
        margin-bottom: 24px;
      }

      &-header {
        &_users {
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
        }

        &-btns {
          &_notifications {
            display: none;

            &._mb {
              display: flex;
              margin-top: 20px;
              gap: 10px;
            }
          }
        }
      }
    }

    &__menu {
      &-click {
        svg {
          width: 15px;
        }
      }
    }

    &__title {
      font-size: 20px;
      line-height: 120%;

      &._mb {
        display: block;
      }
    }

    &__new {
      &-order {
        &-btn {
          padding: 15px 30px;
          font-size: 14px;
        }
      }
    }

    &__pagination {
      justify-content: space-between;

      &-item {
        font-size: 20px;

        &_arrow {
          width: 30px;
          border-radius: 9px;
          height: 30px;

          svg {
            width: 12px;
          }
        }
      }
    }

    &__breadcrumbs {
      font-size: 14px;
      line-height: 143%;
    }

    &__order {
      .user {
        &__title {
          display: none;

          &._mb {
            display: block;
            margin-bottom: 14px;
          }
        }

        &__stats {
          flex-direction: row;
        }
      }

      &-top {
        gap: 14px;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 16px;
      }

      &-right {
        margin-left: auto;

        &_recharge {
          display: none;
        }
      }

      &-main,
      &-info {
        gap: 10px;
      }

      &-fill {
        font-size: 16px;
        line-height: 125%;
        margin-bottom: 10px;
      }

      &-btns {
        gap: 10px;
      }

      &-btn {
        padding: 14px 30px;
        font-size: 16px;
        line-height: 137%;
      }

      &-left {
        gap: 26px;
      }
    }

    &__file {
      &-svg {
        svg {
          width: 16px;
        }
      }
    }

    &__date {
      margin-top: 16px;
      margin-bottom: 10px;

      &-item {
        padding: 14px;
        font-size: 16px;
        line-height: 137%;
        gap: 19px;
      }

      &_icon {
        svg {
          width: 18px;
        }
      }
    }

    &__inputs {
      gap: 10px;
    }

    &__input {
      &-label {
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 117%;
      }

      &-el {
        input,
        textarea {
          font-size: 12px;
          line-height: 117%;
        }
      }

      &_col {
        &-1 {
          grid-column: auto;
        }
      }
    }

    &__search {
      padding: 12px;
      width: 280px;

      input {
        font-size: 16px;
      }

      &-btn {
        width: 25px;
        height: 25px;

        svg {
          width: 100%;
        }
      }
    }

    &__checkboxes {
      grid-template-columns: auto;
      gap: 8px;
    }

    &__checkbox {
      &-title {
        font-size: 12px;
        line-height: 143%;
      }
    }

    &__carefully {
      margin-top: 12px;
      padding: 26px 10px 14px;

      &-title {
        font-size: 16px;
        line-height: 100%;
        text-align: left;
      }

      &-icon {
        svg {
          width: 20px;
        }
      }
    }

    &__payments {
      &-block {
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: thin;
        scrollbar-color: var(--999999) #302e2e;
        margin-top: 16px;

        &::-webkit-scrollbar {
          width: 12px;
        }

        &::-webkit-scrollbar-track {
          background: #302e2e;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--999999);
          border-radius: 5px;
          border: 3px solid #302e2e;
        }
      }

      &-bottom {
        flex-direction: column;
        gap: 10px;
      }

      &-left {
        gap: 10px;
      }

      &-right {
        gap: 10px;
      }

      &-download {
        padding: 16px 30px;
        font-size: 16px;
        line-height: 137%;
      }

      &-stats {
        margin-top: 15px;
      }
    }

    &__payment {
      margin-top: 24px;
      padding-top: 20px;

      &-price {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        line-height: 110%;
      }

      &-items {
        margin-top: 16px;
      }

      &-canvas {
        &-block {
          height: 218px;
          width: 720px;
        }
      }
    }

    &__table {
      &_companies {
        th {
          &:nth-child(1) {
            width: 225px;
          }

          &:nth-child(2) {
            width: 187px;
          }

          &:nth-child(3) {
            width: 259px;
          }

          &:nth-child(4) {
            width: 117px;
          }

          &:nth-child(5) {
            width: 109px;
          }
        }
      }
    }

    &__settings {
      margin-top: 24px;

      .user {
        &__inputs {
          grid-template-columns: auto;
          gap: 10px;
        }
      }

      &-title {
        margin-bottom: 16px;
      }
    }

    &__notifications {
      &-popup {
        width: 320px;
      }
    }

    &__notification {
      &-item {
        padding: 16px;
        font-size: 12px;
        line-height: 117%;
      }

      &-header {
        margin-bottom: 6px;
      }

      &-meta {
        font-size: 10px;
        line-height: 180%;
      }

      &-desc {
        font-size: 10px;
        line-height: 140%;
      }
    }

    &__set {
      &-priority {
        &-btn {
          padding: 0;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            display: none;
          }

          &:hover {
            background: var(--f56e0f);
            border-color: var(--f56e0f);
          }

          svg {
            display: flex;
          }
        }
      }
    }

    &-select {
      &_input {
        .user-select {
          &__current {
            font-size: 12px;
            padding-top: 10.5px;
            padding-bottom: 10.5px;
          }

          &__abs {
            font-size: 12px;
          }
        }
      }
    }
  }

  .order-wait-modal {
    padding-left: 20px;
    padding-right: 20px;

    .modal {
      &__content {
        padding: 50px 20px;
      }
    }

    &__title {
      font-size: 20px;
      line-height: 120%;
    }

    &__subtitle {
      font-size: 14px;
      line-height: 143%;
    }

    &__row {
      grid-template-columns: 118px 1fr;
    }

    &__label,
    &__value {
      padding: 10px 16px;
    }
  }

  .order-detail-modal {
    padding-left: 20px;
    padding-right: 20px;
    
    &__label, &__value {
      padding: 15px 10px;
    }
  }
}

@media screen and (width <= 400px) {
  .user {
    &__notifications {
      &-popup {
        right: -101px;
      }

      &-arrow {
        right: 109px;
      }
    }
  }
}

@media screen and (width <= 360px) {
  .user {
    .header {
      &__logo {
        img {
          width: 55px;
        }
      }
    }

    &__time {
      &-block {
        gap: 10px;
        padding: 12px;
        font-size: 12px;
      }
    }

    &__notifications {
      &-popup {
        right: -89px;
        width: 300px;
      }

      &-arrow {
        right: 98px;
      }
    }
  }
}
