.modal.modal_message.modal_exit
  .modal__table
    .modal__ceil
      .modal__block
        .modal_message__title please confirm exit
        .modal_message__btns
          button(type="button").modal_message__btn.p-btn.p-btn_orange(data-action="yes") Yes
          .modal_message__btn.p-btn.modal__close(data-action="no") No
.modal.modal_message.modal_order-cancel
  .modal__table
    .modal__ceil
      .modal__block
        .modal_message__title Cancel order?
        .modal_message__btns
          button(type="button").modal_message__btn.p-btn.p-btn_orange(data-action="yes") Yes
          .modal_message__btn.p-btn.modal__close(data-action="no") No
.modal.modal_message.modal_update
  .modal__table
    .modal__ceil
      .modal__block
        .modal_message__title Update information?
        .modal_message__btns
          button(type="button").modal_message__btn.p-btn.p-btn_orange(data-action="yes") Yes
          .modal_message__btn.p-btn.modal__close(data-action="no") No
.modal.modal_message.modal_delete-company
  .modal__table
    .modal__ceil
      .modal__block
        .modal_message__title Delete company?
        .modal_message__btns
          button(type="button").modal_message__btn.p-btn.p-btn_orange(data-action="yes") Yes
          .modal_message__btn.p-btn.modal__close(data-action="no") No
.modal.modal_message.modal_delete-notification
  .modal__table
    .modal__ceil
      .modal__block
        .modal_message__title Delete NOTIFICATION?
        .modal_message__btns
          button(type="button").modal_message__btn.p-btn.p-btn_orange(data-action="yes") Yes
          .modal_message__btn.p-btn.modal__close(data-action="no") No
.modal.modal_message.modal_ticket-delete
  .modal__table
    .modal__ceil
      .modal__block
        .modal_message__title Delete ticket?
        .modal_message__btns
          button(type="button").modal_message__btn.p-btn.p-btn_orange(data-action="yes") Yes
          .modal_message__btn.p-btn.modal__close(data-action="no") No
.modal.modal_message.modal_ticket-close
  .modal__table
    .modal__ceil
      .modal__block
        .modal_message__title close ticket?
        .modal_message__btns
          button(type="button").modal_message__btn.p-btn.p-btn_orange(data-action="yes") Yes
          .modal_message__btn.p-btn.modal__close(data-action="no") No
.modal.modal_message.modal_user-delete
  .modal__table
    .modal__ceil
      .modal__block
        .modal_message__title Delete user?
        .modal_message__btns
          button(type="button").modal_message__btn.p-btn.p-btn_orange(data-action="yes") Yes
          .modal_message__btn.p-btn.modal__close(data-action="no") No
.modal.modal_message.modal_user-block
  .modal__table
    .modal__ceil
      .modal__block
        .modal_message__title Block user?
        .modal_message__btns
          button(type="button").modal_message__btn.p-btn.p-btn_orange(data-action="yes") Yes
          .modal_message__btn.p-btn.modal__close(data-action="no") No
