extends ../layout/base

//- Include mixins
include ../mixins/picture
include ../mixins/video
include ../mixins/iframe

block variables
  - var title = 'Главная';
  - var description = '';
  - var pageCss = ['index'];  // Страничные стили /pages/index.scss
  - var pageJs = ['pages/home/car', 'pages/home/links'];
  //- - var blocks = []; -- Сюда добавляем блоки для страницы (из блока)
  //- - var libsJs = ['swiper']; -- Сюда добавляем скрипты библиотек для страницы
  //- - var libsCss = ['swiper']; -- Сюда добавляем стили библиотек для страницы

block header
  include ../components/header/header

block content
  include ../blocks/home/first
  include ../blocks/home/about
  include ../blocks/home/car
  include ../blocks/home/links

block footer
  include ../components/footer/footer
  script.
    var carAjax = {
      models: '/build/php/get-data-from-price-model.php',
      years: '/build/php/get-data-from-price-model.php',
      engines: '/build/php/get-data-from-price-model.php',
      info: '/build/php/get-data-from-price-model.php',
    };
