extends ../layout/base

//- Include mixins
include ../mixins/picture
include ../mixins/video
include ../mixins/iframe

block variables
  - var title = 'superadmin Companies';
  - var description = '';
  - var pageCss = ['index', 'user'];  // Страничные стили /pages/index.scss
  - var pageJs = ['pages/user'];
  //- - var blocks = ['user'];
  //- - var libsJs = ['simplebar'];
  //- - var libsCss = ['simplebar'];
block content
  include ../blocks/superadmin/companies

block footer
  include ../components/footer/footer
  script.
    document.addEventListener('DOMContentLoaded', function() {
      document.addEventListener('htmx:beforeSwap', function(evt) {
        if (evt.detail.target.id === 'order-modal-container') {
          document.body.style.overflow = 'hidden';
        }
      });

      //- let userTable = document.querySelector('.user__table-container_user');
      //- new SimpleBar(userTable);
    });
