.footer {
  padding-top: 40px;
  padding-bottom: 81px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    a {
      &:hover {
        color: var(--f56e0f);
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 1px;
      }
    }
  }

  &__center {
    display: flex;
    justify-content: space-between;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 255px);
    gap: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (max-width: 1340px){
  .footer {
    padding: 60px 0;

    &__top {
      margin-bottom: 40px;
    }

    &__center {
      flex-direction: column;
      gap: 40px;
    }

    &__items {
      gap: 19px;
      grid-template-columns: repeat(3, 1fr);
    }

    &__item {
      font-size: 12px;
      line-height: 117%;
      gap: 6px;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 50px 0;

    &__logo {
      img {
        width: 65px;
      }
    }

    &__nav {
      ul {
        gap: 14px;
      }
    }

    &__items {
      grid-template-columns: auto;
      gap: 18px;
    }

    &__center {
      gap: 30px;
    }
  }
}
