.header {
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 112px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 60px;
    font-weight: 500;

    a {
      &:hover {
        color: var(--f56e0f);
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 1px;
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  &__menu {
    display: none;
  }

  &_main {
    .header {
      &__block {
        opacity: 0;
        transform: translateY(-100%);
        transition: 1s;

        &.p-animate_active {
          transform: none;
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (width <= 1340px) {
  .header {
    padding-top: 27.5px;

    &__btns,
    &__list {
      display: none;
    }

    &__logo {
      img {
        width: 65px;
      }
    }

    &__menu {
      display: block;
    }
  }
}

@media screen and (width <= 768px) {
  .header {
    padding-top: 14px;
  }
}
