.user
  .container
    include ../../templates/superadmin/header.pug

    .user__content
      include ../../templates/user/sidebar.pug
      .user__main
        .user__main-header
          .user__main-header-left
            h2.user__title Notifications
          .user__main-header-right
            .user__main-header-btns
              button.p-btn.p-btn_orange(hx-get="/php/superadmin/notifications.php" hx-target="#order-modal-container") Create notifications
              a(href="#!").p-btn.p-btn_orange Email newsletter
        .user__table-container
          table.user__table.user__table_notifications#user__table-container
            thead
              tr
                th Description
                th Activate
                th Deactivate
                th Update
                th Delete
            tbody
              tr
                td YAS
                td
                  button.user__btn-activate
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.9167 6L9.2025 13.7142C9.04623 13.8704 8.8343 13.9582 8.61333 13.9582C8.39236 13.9582 8.18044 13.8704 8.02417 13.7142L4 9.69" stroke="#3BD503" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                td
                  button.user__btn-deactivate
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.39801 2.11821L7.00067 5.72088L10.5847 2.13688C10.6638 2.05261 10.7592 1.98521 10.8651 1.9387C10.9709 1.89219 11.0851 1.86753 11.2007 1.86621C11.4482 1.86621 11.6856 1.96454 11.8606 2.13958C12.0357 2.31461 12.134 2.55201 12.134 2.79954C12.1362 2.91397 12.115 3.02764 12.0716 3.13357C12.0283 3.2395 11.9638 3.33545 11.882 3.41554L8.25134 6.99954L11.882 10.6302C12.0358 10.7807 12.126 10.9845 12.134 11.1995C12.134 11.4471 12.0357 11.6845 11.8606 11.8595C11.6856 12.0345 11.4482 12.1329 11.2007 12.1329C11.0817 12.1378 10.963 12.118 10.8522 12.0746C10.7413 12.0312 10.6407 11.9652 10.5567 11.8809L7.00067 8.27821L3.40734 11.8715C3.32848 11.953 3.23427 12.018 3.13014 12.0629C3.02602 12.1077 2.91404 12.1315 2.80067 12.1329C2.55314 12.1329 2.31574 12.0345 2.14071 11.8595C1.96567 11.6845 1.86734 11.4471 1.86734 11.1995C1.86516 11.0851 1.88639 10.9714 1.92973 10.8655C1.97306 10.7596 2.03759 10.6636 2.11934 10.5835L5.75001 6.99954L2.11934 3.36888C1.96551 3.21839 1.87531 3.0146 1.86734 2.79954C1.86734 2.55201 1.96567 2.31461 2.14071 2.13958C2.31574 1.96454 2.55314 1.86621 2.80067 1.86621C3.02467 1.86901 3.23934 1.95954 3.39801 2.11821Z" fill="#999999" />
                    </svg>
                td
                  a(href="#!").user__btn-crud.color_blue
                    span Update
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.2621 3.9375H10.2846C10.4338 3.9375 10.5768 3.99676 10.6823 4.10225C10.7878 4.20774 10.8471 4.35082 10.8471 4.5C10.8471 4.64918 10.7878 4.79226 10.6823 4.89775C10.5768 5.00324 10.4338 5.0625 10.2846 5.0625C9.31558 5.0625 8.57833 5.0625 7.99108 5.10975C7.40233 5.157 7.02883 5.247 6.76408 5.388C6.21571 5.68521 5.77545 6.14831 5.50633 6.711C5.36383 7.0065 5.27833 7.371 5.23408 7.9395C5.18908 8.5125 5.18908 9.243 5.18908 10.26V10.3425L6.02908 9.5025C6.13571 9.40314 6.27675 9.34905 6.42247 9.35162C6.5682 9.35419 6.70724 9.41322 6.8103 9.51628C6.91336 9.61934 6.97239 9.75838 6.97496 9.90411C6.97754 10.0498 6.92344 10.1909 6.82408 10.2975L5.02408 12.0975C4.97019 12.1514 4.90592 12.1937 4.83517 12.222C4.76442 12.2502 4.68866 12.2638 4.61249 12.2619C4.53633 12.26 4.46134 12.2427 4.39208 12.211C4.32282 12.1792 4.26073 12.1337 4.20958 12.0773L2.58133 10.2773C2.48566 10.166 2.43724 10.0218 2.44641 9.87531C2.45559 9.72886 2.52163 9.59179 2.63044 9.49335C2.73926 9.3949 2.88224 9.34288 3.02887 9.34837C3.1755 9.35387 3.31419 9.41644 3.41533 9.52275L4.06408 10.2397V10.236C4.06408 9.24825 4.06408 8.4735 4.11283 7.85175C4.16233 7.21875 4.26433 6.69525 4.49458 6.21975C4.86744 5.44371 5.47623 4.80552 6.23383 4.3965C6.70258 4.14525 7.26133 4.0395 7.90183 3.9885C8.53933 3.9375 9.32008 3.9375 10.2621 3.9375Z" fill="#6E9AFF" />
                      <path opacity="0.5" d="M13.3863 5.73745C13.4627 5.73934 13.5378 5.75673 13.6071 5.78858C13.6765 5.82043 13.7387 5.86606 13.7898 5.9227L15.4181 7.7227C15.5138 7.83396 15.5622 7.97819 15.553 8.12464C15.5438 8.27109 15.4778 8.40816 15.369 8.5066C15.2602 8.60505 15.1172 8.65707 14.9706 8.65158C14.8239 8.64609 14.6852 8.58351 14.5841 8.4772L13.9346 7.7602V7.76395C13.9346 8.7517 13.9346 9.52645 13.8866 10.1482C13.8371 10.7812 13.7351 11.3047 13.5048 11.7802C13.132 12.5562 12.5232 13.1944 11.7656 13.6035C11.2968 13.8547 10.7381 13.9605 10.0976 14.0115C9.46009 14.0625 8.67934 14.0625 7.73734 14.0625H7.71484C7.56566 14.0625 7.42259 14.0032 7.3171 13.8977C7.21161 13.7922 7.15234 13.6491 7.15234 13.5C7.15234 13.3508 7.21161 13.2077 7.3171 13.1022C7.42259 12.9967 7.56566 12.9375 7.71484 12.9375C8.68384 12.9375 9.42109 12.9375 10.0083 12.8902C10.5963 12.843 10.9706 12.753 11.2353 12.6112C11.7836 12.3142 12.2238 11.8514 12.4931 11.289C12.6356 10.9935 12.7211 10.629 12.7653 10.0612C12.8096 9.48745 12.8103 8.7562 12.8103 7.73995V7.65745L11.9703 8.49745C11.8637 8.59681 11.7227 8.6509 11.577 8.64833C11.4312 8.64576 11.2922 8.58673 11.1891 8.48367C11.0861 8.38061 11.027 8.24157 11.0245 8.09584C11.0219 7.95012 11.076 7.80908 11.1753 7.70245L12.9753 5.90245C13.0291 5.84857 13.0933 5.80616 13.1639 5.7778C13.2346 5.74944 13.3102 5.73571 13.3863 5.73745Z" fill="#6E9AFF" />
                    </svg>
                td
                  a(href="#!").user__btn-crud.color_red
                    span Delete
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.75 12.375C3.75 13.0625 4.3125 13.625 5 13.625H10C10.6875 13.625 11.25 13.0625 11.25 12.375V4.875H3.75V12.375ZM11.875 3H9.6875L9.0625 2.375H5.9375L5.3125 3H3.125V4.25H11.875V3Z" fill="#FF2F00" />
                    </svg>
              tr
                td YAS
                td
                  button.user__btn-activate.active
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.9167 6L9.2025 13.7142C9.04623 13.8704 8.8343 13.9582 8.61333 13.9582C8.39236 13.9582 8.18044 13.8704 8.02417 13.7142L4 9.69" stroke="#3BD503" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                td
                  button.user__btn-deactivate
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.39801 2.11821L7.00067 5.72088L10.5847 2.13688C10.6638 2.05261 10.7592 1.98521 10.8651 1.9387C10.9709 1.89219 11.0851 1.86753 11.2007 1.86621C11.4482 1.86621 11.6856 1.96454 11.8606 2.13958C12.0357 2.31461 12.134 2.55201 12.134 2.79954C12.1362 2.91397 12.115 3.02764 12.0716 3.13357C12.0283 3.2395 11.9638 3.33545 11.882 3.41554L8.25134 6.99954L11.882 10.6302C12.0358 10.7807 12.126 10.9845 12.134 11.1995C12.134 11.4471 12.0357 11.6845 11.8606 11.8595C11.6856 12.0345 11.4482 12.1329 11.2007 12.1329C11.0817 12.1378 10.963 12.118 10.8522 12.0746C10.7413 12.0312 10.6407 11.9652 10.5567 11.8809L7.00067 8.27821L3.40734 11.8715C3.32848 11.953 3.23427 12.018 3.13014 12.0629C3.02602 12.1077 2.91404 12.1315 2.80067 12.1329C2.55314 12.1329 2.31574 12.0345 2.14071 11.8595C1.96567 11.6845 1.86734 11.4471 1.86734 11.1995C1.86516 11.0851 1.88639 10.9714 1.92973 10.8655C1.97306 10.7596 2.03759 10.6636 2.11934 10.5835L5.75001 6.99954L2.11934 3.36888C1.96551 3.21839 1.87531 3.0146 1.86734 2.79954C1.86734 2.55201 1.96567 2.31461 2.14071 2.13958C2.31574 1.96454 2.55314 1.86621 2.80067 1.86621C3.02467 1.86901 3.23934 1.95954 3.39801 2.11821Z" fill="#999999" />
                    </svg>
                td
                  a(href="#!").user__btn-crud.color_blue
                    span Update
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.2621 3.9375H10.2846C10.4338 3.9375 10.5768 3.99676 10.6823 4.10225C10.7878 4.20774 10.8471 4.35082 10.8471 4.5C10.8471 4.64918 10.7878 4.79226 10.6823 4.89775C10.5768 5.00324 10.4338 5.0625 10.2846 5.0625C9.31558 5.0625 8.57833 5.0625 7.99108 5.10975C7.40233 5.157 7.02883 5.247 6.76408 5.388C6.21571 5.68521 5.77545 6.14831 5.50633 6.711C5.36383 7.0065 5.27833 7.371 5.23408 7.9395C5.18908 8.5125 5.18908 9.243 5.18908 10.26V10.3425L6.02908 9.5025C6.13571 9.40314 6.27675 9.34905 6.42247 9.35162C6.5682 9.35419 6.70724 9.41322 6.8103 9.51628C6.91336 9.61934 6.97239 9.75838 6.97496 9.90411C6.97754 10.0498 6.92344 10.1909 6.82408 10.2975L5.02408 12.0975C4.97019 12.1514 4.90592 12.1937 4.83517 12.222C4.76442 12.2502 4.68866 12.2638 4.61249 12.2619C4.53633 12.26 4.46134 12.2427 4.39208 12.211C4.32282 12.1792 4.26073 12.1337 4.20958 12.0773L2.58133 10.2773C2.48566 10.166 2.43724 10.0218 2.44641 9.87531C2.45559 9.72886 2.52163 9.59179 2.63044 9.49335C2.73926 9.3949 2.88224 9.34288 3.02887 9.34837C3.1755 9.35387 3.31419 9.41644 3.41533 9.52275L4.06408 10.2397V10.236C4.06408 9.24825 4.06408 8.4735 4.11283 7.85175C4.16233 7.21875 4.26433 6.69525 4.49458 6.21975C4.86744 5.44371 5.47623 4.80552 6.23383 4.3965C6.70258 4.14525 7.26133 4.0395 7.90183 3.9885C8.53933 3.9375 9.32008 3.9375 10.2621 3.9375Z" fill="#6E9AFF" />
                      <path opacity="0.5" d="M13.3863 5.73745C13.4627 5.73934 13.5378 5.75673 13.6071 5.78858C13.6765 5.82043 13.7387 5.86606 13.7898 5.9227L15.4181 7.7227C15.5138 7.83396 15.5622 7.97819 15.553 8.12464C15.5438 8.27109 15.4778 8.40816 15.369 8.5066C15.2602 8.60505 15.1172 8.65707 14.9706 8.65158C14.8239 8.64609 14.6852 8.58351 14.5841 8.4772L13.9346 7.7602V7.76395C13.9346 8.7517 13.9346 9.52645 13.8866 10.1482C13.8371 10.7812 13.7351 11.3047 13.5048 11.7802C13.132 12.5562 12.5232 13.1944 11.7656 13.6035C11.2968 13.8547 10.7381 13.9605 10.0976 14.0115C9.46009 14.0625 8.67934 14.0625 7.73734 14.0625H7.71484C7.56566 14.0625 7.42259 14.0032 7.3171 13.8977C7.21161 13.7922 7.15234 13.6491 7.15234 13.5C7.15234 13.3508 7.21161 13.2077 7.3171 13.1022C7.42259 12.9967 7.56566 12.9375 7.71484 12.9375C8.68384 12.9375 9.42109 12.9375 10.0083 12.8902C10.5963 12.843 10.9706 12.753 11.2353 12.6112C11.7836 12.3142 12.2238 11.8514 12.4931 11.289C12.6356 10.9935 12.7211 10.629 12.7653 10.0612C12.8096 9.48745 12.8103 8.7562 12.8103 7.73995V7.65745L11.9703 8.49745C11.8637 8.59681 11.7227 8.6509 11.577 8.64833C11.4312 8.64576 11.2922 8.58673 11.1891 8.48367C11.0861 8.38061 11.027 8.24157 11.0245 8.09584C11.0219 7.95012 11.076 7.80908 11.1753 7.70245L12.9753 5.90245C13.0291 5.84857 13.0933 5.80616 13.1639 5.7778C13.2346 5.74944 13.3102 5.73571 13.3863 5.73745Z" fill="#6E9AFF" />
                    </svg>
                td
                  a(href="#!").user__btn-crud.color_red
                    span Delete
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.75 12.375C3.75 13.0625 4.3125 13.625 5 13.625H10C10.6875 13.625 11.25 13.0625 11.25 12.375V4.875H3.75V12.375ZM11.875 3H9.6875L9.0625 2.375H5.9375L5.3125 3H3.125V4.25H11.875V3Z" fill="#FF2F00" />
                    </svg>
              tr
                td YAS
                td
                  button.user__btn-activate
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.9167 6L9.2025 13.7142C9.04623 13.8704 8.8343 13.9582 8.61333 13.9582C8.39236 13.9582 8.18044 13.8704 8.02417 13.7142L4 9.69" stroke="#3BD503" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                td
                  button.user__btn-deactivate.active
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.39801 2.11821L7.00067 5.72088L10.5847 2.13688C10.6638 2.05261 10.7592 1.98521 10.8651 1.9387C10.9709 1.89219 11.0851 1.86753 11.2007 1.86621C11.4482 1.86621 11.6856 1.96454 11.8606 2.13958C12.0357 2.31461 12.134 2.55201 12.134 2.79954C12.1362 2.91397 12.115 3.02764 12.0716 3.13357C12.0283 3.2395 11.9638 3.33545 11.882 3.41554L8.25134 6.99954L11.882 10.6302C12.0358 10.7807 12.126 10.9845 12.134 11.1995C12.134 11.4471 12.0357 11.6845 11.8606 11.8595C11.6856 12.0345 11.4482 12.1329 11.2007 12.1329C11.0817 12.1378 10.963 12.118 10.8522 12.0746C10.7413 12.0312 10.6407 11.9652 10.5567 11.8809L7.00067 8.27821L3.40734 11.8715C3.32848 11.953 3.23427 12.018 3.13014 12.0629C3.02602 12.1077 2.91404 12.1315 2.80067 12.1329C2.55314 12.1329 2.31574 12.0345 2.14071 11.8595C1.96567 11.6845 1.86734 11.4471 1.86734 11.1995C1.86516 11.0851 1.88639 10.9714 1.92973 10.8655C1.97306 10.7596 2.03759 10.6636 2.11934 10.5835L5.75001 6.99954L2.11934 3.36888C1.96551 3.21839 1.87531 3.0146 1.86734 2.79954C1.86734 2.55201 1.96567 2.31461 2.14071 2.13958C2.31574 1.96454 2.55314 1.86621 2.80067 1.86621C3.02467 1.86901 3.23934 1.95954 3.39801 2.11821Z" fill="#999999" />
                    </svg>
                td
                  a(href="#!").user__btn-crud.color_blue
                    span Update
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.2621 3.9375H10.2846C10.4338 3.9375 10.5768 3.99676 10.6823 4.10225C10.7878 4.20774 10.8471 4.35082 10.8471 4.5C10.8471 4.64918 10.7878 4.79226 10.6823 4.89775C10.5768 5.00324 10.4338 5.0625 10.2846 5.0625C9.31558 5.0625 8.57833 5.0625 7.99108 5.10975C7.40233 5.157 7.02883 5.247 6.76408 5.388C6.21571 5.68521 5.77545 6.14831 5.50633 6.711C5.36383 7.0065 5.27833 7.371 5.23408 7.9395C5.18908 8.5125 5.18908 9.243 5.18908 10.26V10.3425L6.02908 9.5025C6.13571 9.40314 6.27675 9.34905 6.42247 9.35162C6.5682 9.35419 6.70724 9.41322 6.8103 9.51628C6.91336 9.61934 6.97239 9.75838 6.97496 9.90411C6.97754 10.0498 6.92344 10.1909 6.82408 10.2975L5.02408 12.0975C4.97019 12.1514 4.90592 12.1937 4.83517 12.222C4.76442 12.2502 4.68866 12.2638 4.61249 12.2619C4.53633 12.26 4.46134 12.2427 4.39208 12.211C4.32282 12.1792 4.26073 12.1337 4.20958 12.0773L2.58133 10.2773C2.48566 10.166 2.43724 10.0218 2.44641 9.87531C2.45559 9.72886 2.52163 9.59179 2.63044 9.49335C2.73926 9.3949 2.88224 9.34288 3.02887 9.34837C3.1755 9.35387 3.31419 9.41644 3.41533 9.52275L4.06408 10.2397V10.236C4.06408 9.24825 4.06408 8.4735 4.11283 7.85175C4.16233 7.21875 4.26433 6.69525 4.49458 6.21975C4.86744 5.44371 5.47623 4.80552 6.23383 4.3965C6.70258 4.14525 7.26133 4.0395 7.90183 3.9885C8.53933 3.9375 9.32008 3.9375 10.2621 3.9375Z" fill="#6E9AFF" />
                      <path opacity="0.5" d="M13.3863 5.73745C13.4627 5.73934 13.5378 5.75673 13.6071 5.78858C13.6765 5.82043 13.7387 5.86606 13.7898 5.9227L15.4181 7.7227C15.5138 7.83396 15.5622 7.97819 15.553 8.12464C15.5438 8.27109 15.4778 8.40816 15.369 8.5066C15.2602 8.60505 15.1172 8.65707 14.9706 8.65158C14.8239 8.64609 14.6852 8.58351 14.5841 8.4772L13.9346 7.7602V7.76395C13.9346 8.7517 13.9346 9.52645 13.8866 10.1482C13.8371 10.7812 13.7351 11.3047 13.5048 11.7802C13.132 12.5562 12.5232 13.1944 11.7656 13.6035C11.2968 13.8547 10.7381 13.9605 10.0976 14.0115C9.46009 14.0625 8.67934 14.0625 7.73734 14.0625H7.71484C7.56566 14.0625 7.42259 14.0032 7.3171 13.8977C7.21161 13.7922 7.15234 13.6491 7.15234 13.5C7.15234 13.3508 7.21161 13.2077 7.3171 13.1022C7.42259 12.9967 7.56566 12.9375 7.71484 12.9375C8.68384 12.9375 9.42109 12.9375 10.0083 12.8902C10.5963 12.843 10.9706 12.753 11.2353 12.6112C11.7836 12.3142 12.2238 11.8514 12.4931 11.289C12.6356 10.9935 12.7211 10.629 12.7653 10.0612C12.8096 9.48745 12.8103 8.7562 12.8103 7.73995V7.65745L11.9703 8.49745C11.8637 8.59681 11.7227 8.6509 11.577 8.64833C11.4312 8.64576 11.2922 8.58673 11.1891 8.48367C11.0861 8.38061 11.027 8.24157 11.0245 8.09584C11.0219 7.95012 11.076 7.80908 11.1753 7.70245L12.9753 5.90245C13.0291 5.84857 13.0933 5.80616 13.1639 5.7778C13.2346 5.74944 13.3102 5.73571 13.3863 5.73745Z" fill="#6E9AFF" />
                    </svg>
                td
                  a(href="#!").user__btn-crud.color_red
                    span Delete
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.75 12.375C3.75 13.0625 4.3125 13.625 5 13.625H10C10.6875 13.625 11.25 13.0625 11.25 12.375V4.875H3.75V12.375ZM11.875 3H9.6875L9.0625 2.375H5.9375L5.3125 3H3.125V4.25H11.875V3Z" fill="#FF2F00" />
                    </svg>
              tr
                td YAS
                td
                  button.user__btn-activate.active
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.9167 6L9.2025 13.7142C9.04623 13.8704 8.8343 13.9582 8.61333 13.9582C8.39236 13.9582 8.18044 13.8704 8.02417 13.7142L4 9.69" stroke="#3BD503" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                td
                  button.user__btn-deactivate
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.39801 2.11821L7.00067 5.72088L10.5847 2.13688C10.6638 2.05261 10.7592 1.98521 10.8651 1.9387C10.9709 1.89219 11.0851 1.86753 11.2007 1.86621C11.4482 1.86621 11.6856 1.96454 11.8606 2.13958C12.0357 2.31461 12.134 2.55201 12.134 2.79954C12.1362 2.91397 12.115 3.02764 12.0716 3.13357C12.0283 3.2395 11.9638 3.33545 11.882 3.41554L8.25134 6.99954L11.882 10.6302C12.0358 10.7807 12.126 10.9845 12.134 11.1995C12.134 11.4471 12.0357 11.6845 11.8606 11.8595C11.6856 12.0345 11.4482 12.1329 11.2007 12.1329C11.0817 12.1378 10.963 12.118 10.8522 12.0746C10.7413 12.0312 10.6407 11.9652 10.5567 11.8809L7.00067 8.27821L3.40734 11.8715C3.32848 11.953 3.23427 12.018 3.13014 12.0629C3.02602 12.1077 2.91404 12.1315 2.80067 12.1329C2.55314 12.1329 2.31574 12.0345 2.14071 11.8595C1.96567 11.6845 1.86734 11.4471 1.86734 11.1995C1.86516 11.0851 1.88639 10.9714 1.92973 10.8655C1.97306 10.7596 2.03759 10.6636 2.11934 10.5835L5.75001 6.99954L2.11934 3.36888C1.96551 3.21839 1.87531 3.0146 1.86734 2.79954C1.86734 2.55201 1.96567 2.31461 2.14071 2.13958C2.31574 1.96454 2.55314 1.86621 2.80067 1.86621C3.02467 1.86901 3.23934 1.95954 3.39801 2.11821Z" fill="#999999" />
                    </svg>
                td
                  a(href="#!").user__btn-crud.color_blue
                    span Update
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.2621 3.9375H10.2846C10.4338 3.9375 10.5768 3.99676 10.6823 4.10225C10.7878 4.20774 10.8471 4.35082 10.8471 4.5C10.8471 4.64918 10.7878 4.79226 10.6823 4.89775C10.5768 5.00324 10.4338 5.0625 10.2846 5.0625C9.31558 5.0625 8.57833 5.0625 7.99108 5.10975C7.40233 5.157 7.02883 5.247 6.76408 5.388C6.21571 5.68521 5.77545 6.14831 5.50633 6.711C5.36383 7.0065 5.27833 7.371 5.23408 7.9395C5.18908 8.5125 5.18908 9.243 5.18908 10.26V10.3425L6.02908 9.5025C6.13571 9.40314 6.27675 9.34905 6.42247 9.35162C6.5682 9.35419 6.70724 9.41322 6.8103 9.51628C6.91336 9.61934 6.97239 9.75838 6.97496 9.90411C6.97754 10.0498 6.92344 10.1909 6.82408 10.2975L5.02408 12.0975C4.97019 12.1514 4.90592 12.1937 4.83517 12.222C4.76442 12.2502 4.68866 12.2638 4.61249 12.2619C4.53633 12.26 4.46134 12.2427 4.39208 12.211C4.32282 12.1792 4.26073 12.1337 4.20958 12.0773L2.58133 10.2773C2.48566 10.166 2.43724 10.0218 2.44641 9.87531C2.45559 9.72886 2.52163 9.59179 2.63044 9.49335C2.73926 9.3949 2.88224 9.34288 3.02887 9.34837C3.1755 9.35387 3.31419 9.41644 3.41533 9.52275L4.06408 10.2397V10.236C4.06408 9.24825 4.06408 8.4735 4.11283 7.85175C4.16233 7.21875 4.26433 6.69525 4.49458 6.21975C4.86744 5.44371 5.47623 4.80552 6.23383 4.3965C6.70258 4.14525 7.26133 4.0395 7.90183 3.9885C8.53933 3.9375 9.32008 3.9375 10.2621 3.9375Z" fill="#6E9AFF" />
                      <path opacity="0.5" d="M13.3863 5.73745C13.4627 5.73934 13.5378 5.75673 13.6071 5.78858C13.6765 5.82043 13.7387 5.86606 13.7898 5.9227L15.4181 7.7227C15.5138 7.83396 15.5622 7.97819 15.553 8.12464C15.5438 8.27109 15.4778 8.40816 15.369 8.5066C15.2602 8.60505 15.1172 8.65707 14.9706 8.65158C14.8239 8.64609 14.6852 8.58351 14.5841 8.4772L13.9346 7.7602V7.76395C13.9346 8.7517 13.9346 9.52645 13.8866 10.1482C13.8371 10.7812 13.7351 11.3047 13.5048 11.7802C13.132 12.5562 12.5232 13.1944 11.7656 13.6035C11.2968 13.8547 10.7381 13.9605 10.0976 14.0115C9.46009 14.0625 8.67934 14.0625 7.73734 14.0625H7.71484C7.56566 14.0625 7.42259 14.0032 7.3171 13.8977C7.21161 13.7922 7.15234 13.6491 7.15234 13.5C7.15234 13.3508 7.21161 13.2077 7.3171 13.1022C7.42259 12.9967 7.56566 12.9375 7.71484 12.9375C8.68384 12.9375 9.42109 12.9375 10.0083 12.8902C10.5963 12.843 10.9706 12.753 11.2353 12.6112C11.7836 12.3142 12.2238 11.8514 12.4931 11.289C12.6356 10.9935 12.7211 10.629 12.7653 10.0612C12.8096 9.48745 12.8103 8.7562 12.8103 7.73995V7.65745L11.9703 8.49745C11.8637 8.59681 11.7227 8.6509 11.577 8.64833C11.4312 8.64576 11.2922 8.58673 11.1891 8.48367C11.0861 8.38061 11.027 8.24157 11.0245 8.09584C11.0219 7.95012 11.076 7.80908 11.1753 7.70245L12.9753 5.90245C13.0291 5.84857 13.0933 5.80616 13.1639 5.7778C13.2346 5.74944 13.3102 5.73571 13.3863 5.73745Z" fill="#6E9AFF" />
                    </svg>
                td
                  a(href="#!").user__btn-crud.color_red
                    span Delete
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.75 12.375C3.75 13.0625 4.3125 13.625 5 13.625H10C10.6875 13.625 11.25 13.0625 11.25 12.375V4.875H3.75V12.375ZM11.875 3H9.6875L9.0625 2.375H5.9375L5.3125 3H3.125V4.25H11.875V3Z" fill="#FF2F00" />
                    </svg>
              tr
                td YAS
                td
                  button.user__btn-activate
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.9167 6L9.2025 13.7142C9.04623 13.8704 8.8343 13.9582 8.61333 13.9582C8.39236 13.9582 8.18044 13.8704 8.02417 13.7142L4 9.69" stroke="#3BD503" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                td
                  button.user__btn-deactivate.active
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.39801 2.11821L7.00067 5.72088L10.5847 2.13688C10.6638 2.05261 10.7592 1.98521 10.8651 1.9387C10.9709 1.89219 11.0851 1.86753 11.2007 1.86621C11.4482 1.86621 11.6856 1.96454 11.8606 2.13958C12.0357 2.31461 12.134 2.55201 12.134 2.79954C12.1362 2.91397 12.115 3.02764 12.0716 3.13357C12.0283 3.2395 11.9638 3.33545 11.882 3.41554L8.25134 6.99954L11.882 10.6302C12.0358 10.7807 12.126 10.9845 12.134 11.1995C12.134 11.4471 12.0357 11.6845 11.8606 11.8595C11.6856 12.0345 11.4482 12.1329 11.2007 12.1329C11.0817 12.1378 10.963 12.118 10.8522 12.0746C10.7413 12.0312 10.6407 11.9652 10.5567 11.8809L7.00067 8.27821L3.40734 11.8715C3.32848 11.953 3.23427 12.018 3.13014 12.0629C3.02602 12.1077 2.91404 12.1315 2.80067 12.1329C2.55314 12.1329 2.31574 12.0345 2.14071 11.8595C1.96567 11.6845 1.86734 11.4471 1.86734 11.1995C1.86516 11.0851 1.88639 10.9714 1.92973 10.8655C1.97306 10.7596 2.03759 10.6636 2.11934 10.5835L5.75001 6.99954L2.11934 3.36888C1.96551 3.21839 1.87531 3.0146 1.86734 2.79954C1.86734 2.55201 1.96567 2.31461 2.14071 2.13958C2.31574 1.96454 2.55314 1.86621 2.80067 1.86621C3.02467 1.86901 3.23934 1.95954 3.39801 2.11821Z" fill="#999999" />
                    </svg>
                td
                  a(href="#!").user__btn-crud.color_blue
                    span Update
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.2621 3.9375H10.2846C10.4338 3.9375 10.5768 3.99676 10.6823 4.10225C10.7878 4.20774 10.8471 4.35082 10.8471 4.5C10.8471 4.64918 10.7878 4.79226 10.6823 4.89775C10.5768 5.00324 10.4338 5.0625 10.2846 5.0625C9.31558 5.0625 8.57833 5.0625 7.99108 5.10975C7.40233 5.157 7.02883 5.247 6.76408 5.388C6.21571 5.68521 5.77545 6.14831 5.50633 6.711C5.36383 7.0065 5.27833 7.371 5.23408 7.9395C5.18908 8.5125 5.18908 9.243 5.18908 10.26V10.3425L6.02908 9.5025C6.13571 9.40314 6.27675 9.34905 6.42247 9.35162C6.5682 9.35419 6.70724 9.41322 6.8103 9.51628C6.91336 9.61934 6.97239 9.75838 6.97496 9.90411C6.97754 10.0498 6.92344 10.1909 6.82408 10.2975L5.02408 12.0975C4.97019 12.1514 4.90592 12.1937 4.83517 12.222C4.76442 12.2502 4.68866 12.2638 4.61249 12.2619C4.53633 12.26 4.46134 12.2427 4.39208 12.211C4.32282 12.1792 4.26073 12.1337 4.20958 12.0773L2.58133 10.2773C2.48566 10.166 2.43724 10.0218 2.44641 9.87531C2.45559 9.72886 2.52163 9.59179 2.63044 9.49335C2.73926 9.3949 2.88224 9.34288 3.02887 9.34837C3.1755 9.35387 3.31419 9.41644 3.41533 9.52275L4.06408 10.2397V10.236C4.06408 9.24825 4.06408 8.4735 4.11283 7.85175C4.16233 7.21875 4.26433 6.69525 4.49458 6.21975C4.86744 5.44371 5.47623 4.80552 6.23383 4.3965C6.70258 4.14525 7.26133 4.0395 7.90183 3.9885C8.53933 3.9375 9.32008 3.9375 10.2621 3.9375Z" fill="#6E9AFF" />
                      <path opacity="0.5" d="M13.3863 5.73745C13.4627 5.73934 13.5378 5.75673 13.6071 5.78858C13.6765 5.82043 13.7387 5.86606 13.7898 5.9227L15.4181 7.7227C15.5138 7.83396 15.5622 7.97819 15.553 8.12464C15.5438 8.27109 15.4778 8.40816 15.369 8.5066C15.2602 8.60505 15.1172 8.65707 14.9706 8.65158C14.8239 8.64609 14.6852 8.58351 14.5841 8.4772L13.9346 7.7602V7.76395C13.9346 8.7517 13.9346 9.52645 13.8866 10.1482C13.8371 10.7812 13.7351 11.3047 13.5048 11.7802C13.132 12.5562 12.5232 13.1944 11.7656 13.6035C11.2968 13.8547 10.7381 13.9605 10.0976 14.0115C9.46009 14.0625 8.67934 14.0625 7.73734 14.0625H7.71484C7.56566 14.0625 7.42259 14.0032 7.3171 13.8977C7.21161 13.7922 7.15234 13.6491 7.15234 13.5C7.15234 13.3508 7.21161 13.2077 7.3171 13.1022C7.42259 12.9967 7.56566 12.9375 7.71484 12.9375C8.68384 12.9375 9.42109 12.9375 10.0083 12.8902C10.5963 12.843 10.9706 12.753 11.2353 12.6112C11.7836 12.3142 12.2238 11.8514 12.4931 11.289C12.6356 10.9935 12.7211 10.629 12.7653 10.0612C12.8096 9.48745 12.8103 8.7562 12.8103 7.73995V7.65745L11.9703 8.49745C11.8637 8.59681 11.7227 8.6509 11.577 8.64833C11.4312 8.64576 11.2922 8.58673 11.1891 8.48367C11.0861 8.38061 11.027 8.24157 11.0245 8.09584C11.0219 7.95012 11.076 7.80908 11.1753 7.70245L12.9753 5.90245C13.0291 5.84857 13.0933 5.80616 13.1639 5.7778C13.2346 5.74944 13.3102 5.73571 13.3863 5.73745Z" fill="#6E9AFF" />
                    </svg>
                td
                  a(href="#!").user__btn-crud.color_red
                    span Delete
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.75 12.375C3.75 13.0625 4.3125 13.625 5 13.625H10C10.6875 13.625 11.25 13.0625 11.25 12.375V4.875H3.75V12.375ZM11.875 3H9.6875L9.0625 2.375H5.9375L5.3125 3H3.125V4.25H11.875V3Z" fill="#FF2F00" />
                    </svg>
              tr
                td YAS
                td
                  button.user__btn-activate
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.9167 6L9.2025 13.7142C9.04623 13.8704 8.8343 13.9582 8.61333 13.9582C8.39236 13.9582 8.18044 13.8704 8.02417 13.7142L4 9.69" stroke="#3BD503" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                td
                  button.user__btn-deactivate
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.39801 2.11821L7.00067 5.72088L10.5847 2.13688C10.6638 2.05261 10.7592 1.98521 10.8651 1.9387C10.9709 1.89219 11.0851 1.86753 11.2007 1.86621C11.4482 1.86621 11.6856 1.96454 11.8606 2.13958C12.0357 2.31461 12.134 2.55201 12.134 2.79954C12.1362 2.91397 12.115 3.02764 12.0716 3.13357C12.0283 3.2395 11.9638 3.33545 11.882 3.41554L8.25134 6.99954L11.882 10.6302C12.0358 10.7807 12.126 10.9845 12.134 11.1995C12.134 11.4471 12.0357 11.6845 11.8606 11.8595C11.6856 12.0345 11.4482 12.1329 11.2007 12.1329C11.0817 12.1378 10.963 12.118 10.8522 12.0746C10.7413 12.0312 10.6407 11.9652 10.5567 11.8809L7.00067 8.27821L3.40734 11.8715C3.32848 11.953 3.23427 12.018 3.13014 12.0629C3.02602 12.1077 2.91404 12.1315 2.80067 12.1329C2.55314 12.1329 2.31574 12.0345 2.14071 11.8595C1.96567 11.6845 1.86734 11.4471 1.86734 11.1995C1.86516 11.0851 1.88639 10.9714 1.92973 10.8655C1.97306 10.7596 2.03759 10.6636 2.11934 10.5835L5.75001 6.99954L2.11934 3.36888C1.96551 3.21839 1.87531 3.0146 1.86734 2.79954C1.86734 2.55201 1.96567 2.31461 2.14071 2.13958C2.31574 1.96454 2.55314 1.86621 2.80067 1.86621C3.02467 1.86901 3.23934 1.95954 3.39801 2.11821Z" fill="#999999" />
                    </svg>
                td
                  a(href="#!").user__btn-crud.color_blue
                    span Update
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.2621 3.9375H10.2846C10.4338 3.9375 10.5768 3.99676 10.6823 4.10225C10.7878 4.20774 10.8471 4.35082 10.8471 4.5C10.8471 4.64918 10.7878 4.79226 10.6823 4.89775C10.5768 5.00324 10.4338 5.0625 10.2846 5.0625C9.31558 5.0625 8.57833 5.0625 7.99108 5.10975C7.40233 5.157 7.02883 5.247 6.76408 5.388C6.21571 5.68521 5.77545 6.14831 5.50633 6.711C5.36383 7.0065 5.27833 7.371 5.23408 7.9395C5.18908 8.5125 5.18908 9.243 5.18908 10.26V10.3425L6.02908 9.5025C6.13571 9.40314 6.27675 9.34905 6.42247 9.35162C6.5682 9.35419 6.70724 9.41322 6.8103 9.51628C6.91336 9.61934 6.97239 9.75838 6.97496 9.90411C6.97754 10.0498 6.92344 10.1909 6.82408 10.2975L5.02408 12.0975C4.97019 12.1514 4.90592 12.1937 4.83517 12.222C4.76442 12.2502 4.68866 12.2638 4.61249 12.2619C4.53633 12.26 4.46134 12.2427 4.39208 12.211C4.32282 12.1792 4.26073 12.1337 4.20958 12.0773L2.58133 10.2773C2.48566 10.166 2.43724 10.0218 2.44641 9.87531C2.45559 9.72886 2.52163 9.59179 2.63044 9.49335C2.73926 9.3949 2.88224 9.34288 3.02887 9.34837C3.1755 9.35387 3.31419 9.41644 3.41533 9.52275L4.06408 10.2397V10.236C4.06408 9.24825 4.06408 8.4735 4.11283 7.85175C4.16233 7.21875 4.26433 6.69525 4.49458 6.21975C4.86744 5.44371 5.47623 4.80552 6.23383 4.3965C6.70258 4.14525 7.26133 4.0395 7.90183 3.9885C8.53933 3.9375 9.32008 3.9375 10.2621 3.9375Z" fill="#6E9AFF" />
                      <path opacity="0.5" d="M13.3863 5.73745C13.4627 5.73934 13.5378 5.75673 13.6071 5.78858C13.6765 5.82043 13.7387 5.86606 13.7898 5.9227L15.4181 7.7227C15.5138 7.83396 15.5622 7.97819 15.553 8.12464C15.5438 8.27109 15.4778 8.40816 15.369 8.5066C15.2602 8.60505 15.1172 8.65707 14.9706 8.65158C14.8239 8.64609 14.6852 8.58351 14.5841 8.4772L13.9346 7.7602V7.76395C13.9346 8.7517 13.9346 9.52645 13.8866 10.1482C13.8371 10.7812 13.7351 11.3047 13.5048 11.7802C13.132 12.5562 12.5232 13.1944 11.7656 13.6035C11.2968 13.8547 10.7381 13.9605 10.0976 14.0115C9.46009 14.0625 8.67934 14.0625 7.73734 14.0625H7.71484C7.56566 14.0625 7.42259 14.0032 7.3171 13.8977C7.21161 13.7922 7.15234 13.6491 7.15234 13.5C7.15234 13.3508 7.21161 13.2077 7.3171 13.1022C7.42259 12.9967 7.56566 12.9375 7.71484 12.9375C8.68384 12.9375 9.42109 12.9375 10.0083 12.8902C10.5963 12.843 10.9706 12.753 11.2353 12.6112C11.7836 12.3142 12.2238 11.8514 12.4931 11.289C12.6356 10.9935 12.7211 10.629 12.7653 10.0612C12.8096 9.48745 12.8103 8.7562 12.8103 7.73995V7.65745L11.9703 8.49745C11.8637 8.59681 11.7227 8.6509 11.577 8.64833C11.4312 8.64576 11.2922 8.58673 11.1891 8.48367C11.0861 8.38061 11.027 8.24157 11.0245 8.09584C11.0219 7.95012 11.076 7.80908 11.1753 7.70245L12.9753 5.90245C13.0291 5.84857 13.0933 5.80616 13.1639 5.7778C13.2346 5.74944 13.3102 5.73571 13.3863 5.73745Z" fill="#6E9AFF" />
                    </svg>
                td
                  a(href="#!").user__btn-crud.color_red
                    span Delete
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.75 12.375C3.75 13.0625 4.3125 13.625 5 13.625H10C10.6875 13.625 11.25 13.0625 11.25 12.375V4.875H3.75V12.375ZM11.875 3H9.6875L9.0625 2.375H5.9375L5.3125 3H3.125V4.25H11.875V3Z" fill="#FF2F00" />
                    </svg>
              tr
                td YAS
                td
                  button.user__btn-activate
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.9167 6L9.2025 13.7142C9.04623 13.8704 8.8343 13.9582 8.61333 13.9582C8.39236 13.9582 8.18044 13.8704 8.02417 13.7142L4 9.69" stroke="#3BD503" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                td
                  button.user__btn-deactivate
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.39801 2.11821L7.00067 5.72088L10.5847 2.13688C10.6638 2.05261 10.7592 1.98521 10.8651 1.9387C10.9709 1.89219 11.0851 1.86753 11.2007 1.86621C11.4482 1.86621 11.6856 1.96454 11.8606 2.13958C12.0357 2.31461 12.134 2.55201 12.134 2.79954C12.1362 2.91397 12.115 3.02764 12.0716 3.13357C12.0283 3.2395 11.9638 3.33545 11.882 3.41554L8.25134 6.99954L11.882 10.6302C12.0358 10.7807 12.126 10.9845 12.134 11.1995C12.134 11.4471 12.0357 11.6845 11.8606 11.8595C11.6856 12.0345 11.4482 12.1329 11.2007 12.1329C11.0817 12.1378 10.963 12.118 10.8522 12.0746C10.7413 12.0312 10.6407 11.9652 10.5567 11.8809L7.00067 8.27821L3.40734 11.8715C3.32848 11.953 3.23427 12.018 3.13014 12.0629C3.02602 12.1077 2.91404 12.1315 2.80067 12.1329C2.55314 12.1329 2.31574 12.0345 2.14071 11.8595C1.96567 11.6845 1.86734 11.4471 1.86734 11.1995C1.86516 11.0851 1.88639 10.9714 1.92973 10.8655C1.97306 10.7596 2.03759 10.6636 2.11934 10.5835L5.75001 6.99954L2.11934 3.36888C1.96551 3.21839 1.87531 3.0146 1.86734 2.79954C1.86734 2.55201 1.96567 2.31461 2.14071 2.13958C2.31574 1.96454 2.55314 1.86621 2.80067 1.86621C3.02467 1.86901 3.23934 1.95954 3.39801 2.11821Z" fill="#999999" />
                    </svg>
                td
                  a(href="#!").user__btn-crud.color_blue
                    span Update
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.2621 3.9375H10.2846C10.4338 3.9375 10.5768 3.99676 10.6823 4.10225C10.7878 4.20774 10.8471 4.35082 10.8471 4.5C10.8471 4.64918 10.7878 4.79226 10.6823 4.89775C10.5768 5.00324 10.4338 5.0625 10.2846 5.0625C9.31558 5.0625 8.57833 5.0625 7.99108 5.10975C7.40233 5.157 7.02883 5.247 6.76408 5.388C6.21571 5.68521 5.77545 6.14831 5.50633 6.711C5.36383 7.0065 5.27833 7.371 5.23408 7.9395C5.18908 8.5125 5.18908 9.243 5.18908 10.26V10.3425L6.02908 9.5025C6.13571 9.40314 6.27675 9.34905 6.42247 9.35162C6.5682 9.35419 6.70724 9.41322 6.8103 9.51628C6.91336 9.61934 6.97239 9.75838 6.97496 9.90411C6.97754 10.0498 6.92344 10.1909 6.82408 10.2975L5.02408 12.0975C4.97019 12.1514 4.90592 12.1937 4.83517 12.222C4.76442 12.2502 4.68866 12.2638 4.61249 12.2619C4.53633 12.26 4.46134 12.2427 4.39208 12.211C4.32282 12.1792 4.26073 12.1337 4.20958 12.0773L2.58133 10.2773C2.48566 10.166 2.43724 10.0218 2.44641 9.87531C2.45559 9.72886 2.52163 9.59179 2.63044 9.49335C2.73926 9.3949 2.88224 9.34288 3.02887 9.34837C3.1755 9.35387 3.31419 9.41644 3.41533 9.52275L4.06408 10.2397V10.236C4.06408 9.24825 4.06408 8.4735 4.11283 7.85175C4.16233 7.21875 4.26433 6.69525 4.49458 6.21975C4.86744 5.44371 5.47623 4.80552 6.23383 4.3965C6.70258 4.14525 7.26133 4.0395 7.90183 3.9885C8.53933 3.9375 9.32008 3.9375 10.2621 3.9375Z" fill="#6E9AFF" />
                      <path opacity="0.5" d="M13.3863 5.73745C13.4627 5.73934 13.5378 5.75673 13.6071 5.78858C13.6765 5.82043 13.7387 5.86606 13.7898 5.9227L15.4181 7.7227C15.5138 7.83396 15.5622 7.97819 15.553 8.12464C15.5438 8.27109 15.4778 8.40816 15.369 8.5066C15.2602 8.60505 15.1172 8.65707 14.9706 8.65158C14.8239 8.64609 14.6852 8.58351 14.5841 8.4772L13.9346 7.7602V7.76395C13.9346 8.7517 13.9346 9.52645 13.8866 10.1482C13.8371 10.7812 13.7351 11.3047 13.5048 11.7802C13.132 12.5562 12.5232 13.1944 11.7656 13.6035C11.2968 13.8547 10.7381 13.9605 10.0976 14.0115C9.46009 14.0625 8.67934 14.0625 7.73734 14.0625H7.71484C7.56566 14.0625 7.42259 14.0032 7.3171 13.8977C7.21161 13.7922 7.15234 13.6491 7.15234 13.5C7.15234 13.3508 7.21161 13.2077 7.3171 13.1022C7.42259 12.9967 7.56566 12.9375 7.71484 12.9375C8.68384 12.9375 9.42109 12.9375 10.0083 12.8902C10.5963 12.843 10.9706 12.753 11.2353 12.6112C11.7836 12.3142 12.2238 11.8514 12.4931 11.289C12.6356 10.9935 12.7211 10.629 12.7653 10.0612C12.8096 9.48745 12.8103 8.7562 12.8103 7.73995V7.65745L11.9703 8.49745C11.8637 8.59681 11.7227 8.6509 11.577 8.64833C11.4312 8.64576 11.2922 8.58673 11.1891 8.48367C11.0861 8.38061 11.027 8.24157 11.0245 8.09584C11.0219 7.95012 11.076 7.80908 11.1753 7.70245L12.9753 5.90245C13.0291 5.84857 13.0933 5.80616 13.1639 5.7778C13.2346 5.74944 13.3102 5.73571 13.3863 5.73745Z" fill="#6E9AFF" />
                    </svg>
                td
                  a(href="#!").user__btn-crud.color_red
                    span Delete
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.75 12.375C3.75 13.0625 4.3125 13.625 5 13.625H10C10.6875 13.625 11.25 13.0625 11.25 12.375V4.875H3.75V12.375ZM11.875 3H9.6875L9.0625 2.375H5.9375L5.3125 3H3.125V4.25H11.875V3Z" fill="#FF2F00" />
                    </svg>
              tr
                td YAS
                td
                  button.user__btn-activate
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.9167 6L9.2025 13.7142C9.04623 13.8704 8.8343 13.9582 8.61333 13.9582C8.39236 13.9582 8.18044 13.8704 8.02417 13.7142L4 9.69" stroke="#3BD503" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                td
                  button.user__btn-deactivate
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.39801 2.11821L7.00067 5.72088L10.5847 2.13688C10.6638 2.05261 10.7592 1.98521 10.8651 1.9387C10.9709 1.89219 11.0851 1.86753 11.2007 1.86621C11.4482 1.86621 11.6856 1.96454 11.8606 2.13958C12.0357 2.31461 12.134 2.55201 12.134 2.79954C12.1362 2.91397 12.115 3.02764 12.0716 3.13357C12.0283 3.2395 11.9638 3.33545 11.882 3.41554L8.25134 6.99954L11.882 10.6302C12.0358 10.7807 12.126 10.9845 12.134 11.1995C12.134 11.4471 12.0357 11.6845 11.8606 11.8595C11.6856 12.0345 11.4482 12.1329 11.2007 12.1329C11.0817 12.1378 10.963 12.118 10.8522 12.0746C10.7413 12.0312 10.6407 11.9652 10.5567 11.8809L7.00067 8.27821L3.40734 11.8715C3.32848 11.953 3.23427 12.018 3.13014 12.0629C3.02602 12.1077 2.91404 12.1315 2.80067 12.1329C2.55314 12.1329 2.31574 12.0345 2.14071 11.8595C1.96567 11.6845 1.86734 11.4471 1.86734 11.1995C1.86516 11.0851 1.88639 10.9714 1.92973 10.8655C1.97306 10.7596 2.03759 10.6636 2.11934 10.5835L5.75001 6.99954L2.11934 3.36888C1.96551 3.21839 1.87531 3.0146 1.86734 2.79954C1.86734 2.55201 1.96567 2.31461 2.14071 2.13958C2.31574 1.96454 2.55314 1.86621 2.80067 1.86621C3.02467 1.86901 3.23934 1.95954 3.39801 2.11821Z" fill="#999999" />
                    </svg>
                td
                  a(href="#!").user__btn-crud.color_blue
                    span Update
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.2621 3.9375H10.2846C10.4338 3.9375 10.5768 3.99676 10.6823 4.10225C10.7878 4.20774 10.8471 4.35082 10.8471 4.5C10.8471 4.64918 10.7878 4.79226 10.6823 4.89775C10.5768 5.00324 10.4338 5.0625 10.2846 5.0625C9.31558 5.0625 8.57833 5.0625 7.99108 5.10975C7.40233 5.157 7.02883 5.247 6.76408 5.388C6.21571 5.68521 5.77545 6.14831 5.50633 6.711C5.36383 7.0065 5.27833 7.371 5.23408 7.9395C5.18908 8.5125 5.18908 9.243 5.18908 10.26V10.3425L6.02908 9.5025C6.13571 9.40314 6.27675 9.34905 6.42247 9.35162C6.5682 9.35419 6.70724 9.41322 6.8103 9.51628C6.91336 9.61934 6.97239 9.75838 6.97496 9.90411C6.97754 10.0498 6.92344 10.1909 6.82408 10.2975L5.02408 12.0975C4.97019 12.1514 4.90592 12.1937 4.83517 12.222C4.76442 12.2502 4.68866 12.2638 4.61249 12.2619C4.53633 12.26 4.46134 12.2427 4.39208 12.211C4.32282 12.1792 4.26073 12.1337 4.20958 12.0773L2.58133 10.2773C2.48566 10.166 2.43724 10.0218 2.44641 9.87531C2.45559 9.72886 2.52163 9.59179 2.63044 9.49335C2.73926 9.3949 2.88224 9.34288 3.02887 9.34837C3.1755 9.35387 3.31419 9.41644 3.41533 9.52275L4.06408 10.2397V10.236C4.06408 9.24825 4.06408 8.4735 4.11283 7.85175C4.16233 7.21875 4.26433 6.69525 4.49458 6.21975C4.86744 5.44371 5.47623 4.80552 6.23383 4.3965C6.70258 4.14525 7.26133 4.0395 7.90183 3.9885C8.53933 3.9375 9.32008 3.9375 10.2621 3.9375Z" fill="#6E9AFF" />
                      <path opacity="0.5" d="M13.3863 5.73745C13.4627 5.73934 13.5378 5.75673 13.6071 5.78858C13.6765 5.82043 13.7387 5.86606 13.7898 5.9227L15.4181 7.7227C15.5138 7.83396 15.5622 7.97819 15.553 8.12464C15.5438 8.27109 15.4778 8.40816 15.369 8.5066C15.2602 8.60505 15.1172 8.65707 14.9706 8.65158C14.8239 8.64609 14.6852 8.58351 14.5841 8.4772L13.9346 7.7602V7.76395C13.9346 8.7517 13.9346 9.52645 13.8866 10.1482C13.8371 10.7812 13.7351 11.3047 13.5048 11.7802C13.132 12.5562 12.5232 13.1944 11.7656 13.6035C11.2968 13.8547 10.7381 13.9605 10.0976 14.0115C9.46009 14.0625 8.67934 14.0625 7.73734 14.0625H7.71484C7.56566 14.0625 7.42259 14.0032 7.3171 13.8977C7.21161 13.7922 7.15234 13.6491 7.15234 13.5C7.15234 13.3508 7.21161 13.2077 7.3171 13.1022C7.42259 12.9967 7.56566 12.9375 7.71484 12.9375C8.68384 12.9375 9.42109 12.9375 10.0083 12.8902C10.5963 12.843 10.9706 12.753 11.2353 12.6112C11.7836 12.3142 12.2238 11.8514 12.4931 11.289C12.6356 10.9935 12.7211 10.629 12.7653 10.0612C12.8096 9.48745 12.8103 8.7562 12.8103 7.73995V7.65745L11.9703 8.49745C11.8637 8.59681 11.7227 8.6509 11.577 8.64833C11.4312 8.64576 11.2922 8.58673 11.1891 8.48367C11.0861 8.38061 11.027 8.24157 11.0245 8.09584C11.0219 7.95012 11.076 7.80908 11.1753 7.70245L12.9753 5.90245C13.0291 5.84857 13.0933 5.80616 13.1639 5.7778C13.2346 5.74944 13.3102 5.73571 13.3863 5.73745Z" fill="#6E9AFF" />
                    </svg>
                td
                  a(href="#!").user__btn-crud.color_red
                    span Delete
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.75 12.375C3.75 13.0625 4.3125 13.625 5 13.625H10C10.6875 13.625 11.25 13.0625 11.25 12.375V4.875H3.75V12.375ZM11.875 3H9.6875L9.0625 2.375H5.9375L5.3125 3H3.125V4.25H11.875V3Z" fill="#FF2F00" />
                    </svg>
        .user__pagination
          a.user__pagination-item.user__pagination-item_arrow
            <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.90344 14.8191C8.1043 14.6182 8.21714 14.3457 8.21714 14.0616C8.21714 13.7775 8.1043 13.505 7.90344 13.3041L2.59987 8.00054L7.90344 2.69697C8.09861 2.4949 8.20661 2.22425 8.20417 1.94333C8.20172 1.6624 8.08904 1.39367 7.89039 1.19502C7.69174 0.996368 7.42301 0.883689 7.14209 0.881248C6.86116 0.878806 6.59052 0.9868 6.38844 1.18197L0.327373 7.24304C0.126511 7.44396 0.0136728 7.71644 0.0136728 8.00054C0.0136728 8.28465 0.126511 8.55712 0.327372 8.75804L6.38844 14.8191C6.58937 15.02 6.86184 15.1328 7.14594 15.1328C7.43005 15.1328 7.70252 15.02 7.90344 14.8191Z" fill="#F56E0F" />
            </svg>
          span.user__pagination-item.user__pagination-item--active 1
          a(href="#!").user__pagination-item 2
          a(href="#!").user__pagination-item 3
          a(href="#!").user__pagination-item 4
          a(href="#!").user__pagination-item 5
          a(href="#!").user__pagination-item 6
          a(href="#!").user__pagination-item 7
          a(href="#!").user__pagination-item 8
          a(href="#!").user__pagination-item 9
          a(href="#!").user__pagination-item 10
          span.user__pagination-item .....
          a.user__pagination-item.user__pagination-item_arrow
            <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.09656 1.18089C0.895696 1.38181 0.782858 1.65428 0.782858 1.93839C0.782858 2.22249 0.895696 2.49496 1.09656 2.69589L6.40013 7.99946L1.09656 13.303C0.901388 13.5051 0.793394 13.7758 0.795835 14.0567C0.798276 14.3376 0.910957 14.6063 1.10961 14.805C1.30826 15.0036 1.57699 15.1163 1.85791 15.1188C2.13884 15.1212 2.40948 15.0132 2.61156 14.818L8.67263 8.75696C8.87349 8.55604 8.98633 8.28356 8.98633 7.99946C8.98633 7.71535 8.87349 7.44288 8.67263 7.24196L2.61156 1.18089C2.41063 0.980025 2.13816 0.867187 1.85406 0.867187C1.56995 0.867187 1.29748 0.980025 1.09656 1.18089Z" fill="#F56E0F" />
            </svg>
// Контейнер для модального окна заказа
#order-modal-container
