.user
  .container
    include ../../templates/superadmin/header.pug

    .user__content
      include ../../templates/superadmin/sidebar.pug
      .user__main
        include ../../templates/superadmin/menu-block.pug
        .user__main-header
          .user__main-header-left
            h2.user__title Ordered files
          .user__main-header-right
            .user__set-priority
              button.user__set-priority-btn.p-btn.p-btn_orange(onclick="this.closest('.user__set-priority').classList.toggle('active');")
                span Setting the priority
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.56739 16.4163C7.21114 16.4163 6.90451 16.2976 6.64748 16.0601C6.39045 15.8226 6.23528 15.5323 6.18198 15.1893L6.00385 13.883C5.83233 13.817 5.67083 13.7379 5.51935 13.6455C5.36788 13.5531 5.21931 13.4542 5.07365 13.3486L3.84656 13.8632C3.5167 14.0084 3.18684 14.0215 2.85698 13.9028C2.52712 13.784 2.26983 13.5729 2.0851 13.2695L1.1549 11.6465C0.970173 11.3431 0.917396 11.0198 0.996563 10.6768C1.07573 10.3337 1.25385 10.05 1.53094 9.82572L2.5799 9.03405C2.5667 8.94169 2.5601 8.85249 2.5601 8.76647V8.23209C2.5601 8.14659 2.5667 8.05766 2.5799 7.9653L1.53094 7.17363C1.25385 6.94933 1.07573 6.66565 0.996563 6.32259C0.917396 5.97954 0.970173 5.65627 1.1549 5.3528L2.0851 3.72988C2.26983 3.42641 2.52712 3.2153 2.85698 3.09655C3.18684 2.9778 3.5167 2.99099 3.84656 3.13613L5.07365 3.65072C5.21878 3.54516 5.37052 3.4462 5.52885 3.35384C5.68719 3.26148 5.84552 3.18231 6.00385 3.11634L6.18198 1.81009C6.23476 1.46704 6.38992 1.17676 6.64748 0.939258C6.90503 0.701758 7.21167 0.583008 7.56739 0.583008H9.42781C9.78406 0.583008 10.091 0.701758 10.3485 0.939258C10.6061 1.17676 10.761 1.46704 10.8132 1.81009L10.9914 3.11634C11.1629 3.18231 11.3246 3.26148 11.4766 3.35384C11.6286 3.4462 11.777 3.54516 11.9216 3.65072L13.1486 3.13613C13.4785 2.99099 13.8084 2.9778 14.1382 3.09655C14.4681 3.2153 14.7254 3.42641 14.9101 3.72988L15.8403 5.3528C16.025 5.65627 16.0778 5.97954 15.9986 6.32259C15.9195 6.66565 15.7414 6.94933 15.4643 7.17363L14.4153 7.9653C14.4285 8.05766 14.4351 8.14685 14.4351 8.23288V8.76647C14.4351 8.85249 14.4219 8.94169 14.3955 9.03405L15.4445 9.82572C15.7216 10.05 15.8997 10.3337 15.9789 10.6768C16.058 11.0198 16.0052 11.3431 15.8205 11.6465L14.8705 13.2695C14.6858 13.5729 14.4285 13.784 14.0986 13.9028C13.7688 14.0215 13.4389 14.0084 13.1091 13.8632L11.9216 13.3486C11.7764 13.4542 11.6247 13.5531 11.4664 13.6455C11.308 13.7379 11.1497 13.817 10.9914 13.883L10.8132 15.1893C10.7605 15.5323 10.6055 15.8226 10.3485 16.0601C10.0915 16.2976 9.78459 16.4163 9.42781 16.4163H7.56739ZM8.53719 11.2705C9.30246 11.2705 9.95559 11 10.4966 10.459C11.0375 9.91808 11.308 9.26495 11.308 8.49967C11.308 7.7344 11.0375 7.08127 10.4966 6.5403C9.95559 5.99933 9.30246 5.72884 8.53719 5.72884C7.75871 5.72884 7.10216 5.99933 6.56752 6.5403C6.03288 7.08127 5.76583 7.7344 5.76635 8.49967C5.76688 9.26495 6.0342 9.91808 6.56831 10.459C7.10242 11 7.75871 11.2705 8.53719 11.2705Z" fill="#F5F5F5" />
                </svg>
              form(hx-post="/php/superadmin/priority.php" hx-on:htmx:before-request="if(event.target.classList.contains('user__set-priority-abs')){this.closest('.user__set-priority').classList.toggle('active');}" hx-target="this" hx-swap="outerHTML").user__set-priority-abs
                .user__set-priority-close(onclick="this.closest('.user__set-priority').classList.remove('active');")
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.38562 0.392716L8 6.0071L13.5853 0.421806C13.7087 0.290489 13.8573 0.185441 14.0222 0.11296C14.1872 0.0404786 14.3651 0.00205717 14.5453 0C14.931 0 15.301 0.153242 15.5737 0.426014C15.8465 0.698786 15.9998 1.06874 15.9998 1.4545C16.0032 1.63283 15.9701 1.80996 15.9025 1.97504C15.835 2.14012 15.7345 2.28966 15.607 2.41447L9.94903 7.99976L15.607 13.6578C15.8468 13.8923 15.9873 14.2099 15.9998 14.545C15.9998 14.9308 15.8465 15.3007 15.5737 15.5735C15.301 15.8463 14.931 15.9995 14.5453 15.9995C14.3599 16.0072 14.1749 15.9763 14.0022 15.9087C13.8294 15.8411 13.6726 15.7383 13.5417 15.6068L8 9.99243L2.40017 15.5923C2.27727 15.7192 2.13045 15.8205 1.96818 15.8904C1.80591 15.9603 1.63141 15.9974 1.45474 15.9995C1.06898 15.9995 0.699023 15.8463 0.42625 15.5735C0.153478 15.3007 0.000236657 14.9308 0.000236657 14.545C-0.00315451 14.3667 0.0299309 14.1896 0.0974628 14.0245C0.164995 13.8594 0.265548 13.7099 0.392952 13.5851L6.05097 7.99976L0.392952 2.34175C0.153228 2.10722 0.0126576 1.78964 0.000236657 1.4545C0.000236657 1.06874 0.153478 0.698786 0.42625 0.426014C0.699023 0.153242 1.06898 0 1.45474 0C1.80382 0.00436351 2.13836 0.14545 2.38562 0.392716Z" fill="#999999" />
                  </svg>
                .user__set-priority-items
                  label.user__set-priority-item
                    input(type="checkbox" name="priority[12]").user__set-priority-input
                    .user__set-priority-square
                    .user__set-priority-title
                      span 1-2 hours
                    .user__set-priority-price
                      span +20%
                    .user__set-priority-edit(hx-post="/php/superadmin/priority-edit.php" hx-target="closest .user__set-priority-item" hx-vals='{"id": "2"}')
                      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 13.75C0.7875 13.75 0.6095 13.678 0.466 13.534C0.3225 13.39 0.2505 13.212 0.25 13V11.1813C0.25 10.9813 0.2875 10.7905 0.3625 10.609C0.4375 10.4275 0.54375 10.2682 0.68125 10.1312L10.15 0.68125C10.3 0.54375 10.4658 0.4375 10.6473 0.3625C10.8288 0.2875 11.0192 0.25 11.2188 0.25C11.4183 0.25 11.612 0.2875 11.8 0.3625C11.988 0.4375 12.1505 0.55 12.2875 0.7L13.3187 1.75C13.4687 1.8875 13.578 2.05 13.6465 2.2375C13.715 2.425 13.7495 2.6125 13.75 2.8C13.75 3 13.7155 3.19075 13.6465 3.37225C13.5775 3.55375 13.4682 3.71925 13.3187 3.86875L3.86875 13.3187C3.73125 13.4562 3.57175 13.5625 3.39025 13.6375C3.20875 13.7125 3.01825 13.75 2.81875 13.75H1ZM11.2 3.85L12.25 2.8L11.2 1.75L10.15 2.8L11.2 3.85Z" fill="#F5F5F5" />
                      </svg>
                      input(type="hidden" name="priority__price" value="20")
                      input(type="hidden" name="priority__title" value="1-2 hours")
                  label.user__set-priority-item
                    input(type="checkbox" name="priority[13]").user__set-priority-input
                    .user__set-priority-square
                    .user__set-priority-title
                      input(type="hidden" name="priority__title" value="2-4 hours")
                      span 2-4 hours
                    .user__set-priority-price
                      input(type="hidden" name="priority__price" value="10")
                      span +10%
                    .user__set-priority-edit(hx-post="/php/superadmin/priority-edit.php" hx-target="closest .user__set-priority-item" hx-vals='{"id": "22"}')
                      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 13.75C0.7875 13.75 0.6095 13.678 0.466 13.534C0.3225 13.39 0.2505 13.212 0.25 13V11.1813C0.25 10.9813 0.2875 10.7905 0.3625 10.609C0.4375 10.4275 0.54375 10.2682 0.68125 10.1312L10.15 0.68125C10.3 0.54375 10.4658 0.4375 10.6473 0.3625C10.8288 0.2875 11.0192 0.25 11.2188 0.25C11.4183 0.25 11.612 0.2875 11.8 0.3625C11.988 0.4375 12.1505 0.55 12.2875 0.7L13.3187 1.75C13.4687 1.8875 13.578 2.05 13.6465 2.2375C13.715 2.425 13.7495 2.6125 13.75 2.8C13.75 3 13.7155 3.19075 13.6465 3.37225C13.5775 3.55375 13.4682 3.71925 13.3187 3.86875L3.86875 13.3187C3.73125 13.4562 3.57175 13.5625 3.39025 13.6375C3.20875 13.7125 3.01825 13.75 2.81875 13.75H1ZM11.2 3.85L12.25 2.8L11.2 1.75L10.15 2.8L11.2 3.85Z" fill="#F5F5F5" />
                      </svg>
                  label.user__set-priority-item
                    input(type="checkbox" name="priority[41]").user__set-priority-input
                    .user__set-priority-square
                    .user__set-priority-title
                      input(type="hidden" name="priority__title" value="12-14 hours")
                      span 12-14 hours
                    .user__set-priority-price
                      input(type="hidden" name="priority__price" value="-10")
                      span -10%
                    .user__set-priority-edit(hx-post="/php/superadmin/priority-edit.php" hx-target="closest .user__set-priority-item" hx-vals='{"id": "22"}')
                      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 13.75C0.7875 13.75 0.6095 13.678 0.466 13.534C0.3225 13.39 0.2505 13.212 0.25 13V11.1813C0.25 10.9813 0.2875 10.7905 0.3625 10.609C0.4375 10.4275 0.54375 10.2682 0.68125 10.1312L10.15 0.68125C10.3 0.54375 10.4658 0.4375 10.6473 0.3625C10.8288 0.2875 11.0192 0.25 11.2188 0.25C11.4183 0.25 11.612 0.2875 11.8 0.3625C11.988 0.4375 12.1505 0.55 12.2875 0.7L13.3187 1.75C13.4687 1.8875 13.578 2.05 13.6465 2.2375C13.715 2.425 13.7495 2.6125 13.75 2.8C13.75 3 13.7155 3.19075 13.6465 3.37225C13.5775 3.55375 13.4682 3.71925 13.3187 3.86875L3.86875 13.3187C3.73125 13.4562 3.57175 13.5625 3.39025 13.6375C3.20875 13.7125 3.01825 13.75 2.81875 13.75H1ZM11.2 3.85L12.25 2.8L11.2 1.75L10.15 2.8L11.2 3.85Z" fill="#F5F5F5" />
                      </svg>
                button(type="submit").user__set-priority-save.p-btn.p-btn_orange.p-btn_center Save

        .user__table-container
          table.user__table.user__table_superadmin-order
            thead
              tr
                th Order №
                th Information
                th Order status
                th Price, YT
                th Original file
                th Modificated file
                th Tickets
                th Cancel
            tbody
              tr(data-link="/test.html")
                td 28012024-3
                td Opel Vectra-C 1.9 CDTI Bosch EDC16C39
                td
                  .user__status.user__status--progress Progress
                td 100
                td
                  button.user__download.user__download--disabled Download
                td
                  button.user__download.user__download--disabled Download
                td
                  .user__ticket-btn Create
                td
                  span.color_red Cancel
              tr
                td 28012024-3
                td Opel Vectra-C 1.9 CDTI Bosch EDC16C39
                td
                  .user__status.user__status--completed Сompleted
                td 100
                td
                  a(href="#!").user__download.user__download--active Download
                td
                  a(href="#!").user__download.user__download--active Download
                td
                  .user__ticket-btn Create
                td
                  span.color_red Cancel
              tr
                td 28012024-3
                td Opel Vectra-C 1.9 CDTI Bosch EDC16C39
                td
                  .user__status.user__status--canceled Сanceled
                td 100
                td
                  button.user__download.user__download--disabled Download
                td
                  button.user__download.user__download--disabled Download
                td
                  .user__ticket-btn Create
                td
                  span.color_red Cancel
              tr
                td 28012024-3
                td Opel Vectra-C 1.9 CDTI Bosch EDC16C39
                td
                  .user__status.user__status--pending Pending
                td 100
                td
                  a(href="#!").user__download.user__download--active Download
                td
                  a(href="#!").user__download.user__download--active Download
                td
                  .user__ticket-btn Create
                td
                  span.color_red Cancel

        .user__pagination
          a.user__pagination-item.user__pagination-item_arrow
            <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.90344 14.8191C8.1043 14.6182 8.21714 14.3457 8.21714 14.0616C8.21714 13.7775 8.1043 13.505 7.90344 13.3041L2.59987 8.00054L7.90344 2.69697C8.09861 2.4949 8.20661 2.22425 8.20417 1.94333C8.20172 1.6624 8.08904 1.39367 7.89039 1.19502C7.69174 0.996368 7.42301 0.883689 7.14209 0.881248C6.86116 0.878806 6.59052 0.9868 6.38844 1.18197L0.327373 7.24304C0.126511 7.44396 0.0136728 7.71644 0.0136728 8.00054C0.0136728 8.28465 0.126511 8.55712 0.327372 8.75804L6.38844 14.8191C6.58937 15.02 6.86184 15.1328 7.14594 15.1328C7.43005 15.1328 7.70252 15.02 7.90344 14.8191Z" fill="#F56E0F" />
            </svg>
          span.user__pagination-item.user__pagination-item--active 1
          a(href="#!").user__pagination-item 2
          a(href="#!").user__pagination-item 3
          a(href="#!").user__pagination-item 4
          a(href="#!").user__pagination-item 5
          a(href="#!").user__pagination-item 6
          a(href="#!").user__pagination-item 7
          a(href="#!").user__pagination-item 8
          a(href="#!").user__pagination-item 9
          a(href="#!").user__pagination-item 10
          span.user__pagination-item .....
          a.user__pagination-item.user__pagination-item_arrow
            <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.09656 1.18089C0.895696 1.38181 0.782858 1.65428 0.782858 1.93839C0.782858 2.22249 0.895696 2.49496 1.09656 2.69589L6.40013 7.99946L1.09656 13.303C0.901388 13.5051 0.793394 13.7758 0.795835 14.0567C0.798276 14.3376 0.910957 14.6063 1.10961 14.805C1.30826 15.0036 1.57699 15.1163 1.85791 15.1188C2.13884 15.1212 2.40948 15.0132 2.61156 14.818L8.67263 8.75696C8.87349 8.55604 8.98633 8.28356 8.98633 7.99946C8.98633 7.71535 8.87349 7.44288 8.67263 7.24196L2.61156 1.18089C2.41063 0.980025 2.13816 0.867187 1.85406 0.867187C1.56995 0.867187 1.29748 0.980025 1.09656 1.18089Z" fill="#F56E0F" />
            </svg>
// Контейнер для модального окна заказа
#order-modal-container
