.h-about.section
  .container
    .h-about__items.p-animate
      .h-about__item.h-about__item_img.lazy(data-bg="/images/home/about/bg.webp")
        .h-about__item-title About us
        .h-about__item-text.h-about__item-text_second Повседневная практика показывает повседневная практика показывает Повседневная практика показывает повседневная практика показывает
      .h-about__item
        .h-about__item-num 20+
        .h-about__item-text Повседневная практика показывает, что высокотехнологичная концепция общественного уклада
      .h-about__item
        .h-about__item-num 20+
        .h-about__item-text Повседневная практика показывает, что высокотехнологичная концепция общественного уклада
      .h-about__item.h-about__item_img.lazy(data-bg="/images/home/about/bg.webp")
        .h-about__item-title.h-about__item-title_second Повседневная практика показывает
        .h-about__item-text.h-about__item-text_second Повседневная практика показывает повседневная практика показывает Повседневная практика показывает повседневная практика показывает
