include ../../mixins/home/car
.h-car.section(id="choose-your-car")
  .container
    .h-car__title.section__title.section__title_center choose your car
    .h-car__items.active
      +hCarItem('/images/home/car/alfa.webp', 'Alfa Romeo', 'active')(
        data-car-brand-id="1"
        data-car-brand-name="Alfa Romeo"
      )
      +hCarItem('/images/home/car/alpina.webp', 'Alpina', 'active')
      +hCarItem('/images/home/car/alpine.webp', 'Alpine', 'active')
      +hCarItem('/images/home/car/ariel.webp', 'Ariel Motors', 'active')
      +hCarItem('/images/home/car/aston.webp', 'Aston Martin', 'active')
      +hCarItem('/images/home/car/audi.webp', 'Audi', 'active')
      +hCarItem('/images/home/car/bentley.webp', 'Bentley', 'active')
      +hCarItem('/images/home/car/bmw.webp', 'BMW', 'active')
      +hCarItem('/images/home/car/borgward.webp', 'Borgward', 'active')
      +hCarItem('/images/home/car/bugatti.webp', 'Bugatti', 'active')
      +hCarItem('/images/home/car/buick.webp', 'Buick', 'active')
      +hCarItem('/images/home/car/cadillac.webp', 'Cadillac', 'active')
      +hCarItem('/images/home/car/chevrolet.webp', 'Chevrolet', 'active')
      +hCarItem('/images/home/car/chrysler.webp', 'Chrysler', 'active')
      +hCarItem('/images/home/car/citroen.webp', 'Citroën', 'active')
      +hCarItem('/images/home/car/cupra.webp', 'Cupra', 'active')
      +hCarItem('/images/home/car/dacia.webp', 'Dacia', 'active')
      +hCarItem('/images/home/car/daewoo.webp', 'Daewoo', 'active')
      +hCarItem('/images/home/car/dodge.webp', 'Dodge', 'active')
      +hCarItem('/images/home/car/ds.webp', 'DS', 'active')
      +hCarItem('/images/home/car/ferrari.webp', 'Ferrari', 'active')
      +hCarItem('/images/home/car/fiat.webp', 'Fiat', 'active')
      +hCarItem('/images/home/car/ford.webp', 'Ford', 'active')
      +hCarItem('/images/home/car/gwm.webp', 'GWM', 'active')
      +hCarItem('/images/home/car/holden.webp', 'Holden', 'active')
      +hCarItem('/images/home/car/honda.webp', 'Honda', 'active')
      +hCarItem('/images/home/car/hyundai.webp', 'Hyundai', 'active')
      +hCarItem('/images/home/car/infiniti.webp', 'Infiniti', 'active')
      +hCarItem('/images/home/car/isuzu.webp', 'Isuzu', 'active')
      +hCarItem('/images/home/car/iveco.webp', 'Iveco', 'active')
      +hCarItem('/images/home/car/jaguar.webp', 'Jaguar', 'active')
      +hCarItem('/images/home/car/jeep.webp', 'Jeep', 'active')
      +hCarItem('/images/home/car/kia.webp', 'Kia', 'active')
      +hCarItem('/images/home/car/ktm.webp', 'KTM', 'active')
      +hCarItem('/images/home/car/lamborghini.webp', 'Lamborghini', 'active')
      +hCarItem('/images/home/car/lancia.webp', 'Lancia', 'active')
      +hCarItem('/images/home/car/land.webp', 'Landrover')
      +hCarItem('/images/home/car/lexus.webp', 'Lexus')
      +hCarItem('/images/home/car/lotus.webp', 'Lotus')
      +hCarItem('/images/home/car/mahindra.webp', 'Mahindra')
      +hCarItem('/images/home/car/man.webp', 'MAN')
      +hCarItem('/images/home/car/maserati.webp', 'Maserati')
      +hCarItem('/images/home/car/mazda.webp', 'Mazda')
      +hCarItem('/images/home/car/mclaren.webp', 'McLaren')
      +hCarItem('/images/home/car/mercedes.webp', 'Mercedes')
      +hCarItem('/images/home/car/mg.webp', 'MG')
      +hCarItem('/images/home/car/mini.webp', 'Mini')
      +hCarItem('/images/home/car/mitsubishi.webp', 'Mitsubishi')
      +hCarItem('/images/home/car/nissan.webp', 'Nissan')
      +hCarItem('/images/home/car/opel.webp', 'Opel')
      +hCarItem('/images/home/car/pagani.webp', 'Pagani')
      +hCarItem('/images/home/car/peugeot.webp', 'Peugeot')
      +hCarItem('/images/home/car/pgo.webp', 'PGO')
      +hCarItem('/images/home/car/piaggio.webp', 'Piaggio')
      +hCarItem('/images/home/car/porshe.webp', 'Porsche')
      +hCarItem('/images/home/car/renault.webp', 'Renault')
      +hCarItem('/images/home/car/rolls.webp', 'Rolls Royce')
      +hCarItem('/images/home/car/saab.webp', 'Saab')
      +hCarItem('/images/home/car/samsung.webp', 'Samsung')
      +hCarItem('/images/home/car/scion.webp', 'Scion')
      +hCarItem('/images/home/car/seat.webp', 'Seat')
      +hCarItem('/images/home/car/skoda.webp', 'Skoda')
      +hCarItem('/images/home/car/smart.webp', 'Smart')
      +hCarItem('/images/home/car/ssang.webp', 'SsangYong')
      +hCarItem('/images/home/car/subaru.webp', 'Subaru')
      +hCarItem('/images/home/car/suzuki.webp', 'Suzuki')
      +hCarItem('/images/home/car/tata.webp', 'Tata')
      +hCarItem('/images/home/car/toyota.webp', 'Toyota')
      +hCarItem('/images/home/car/volk.webp', 'Volkswagen')
      +hCarItem('/images/home/car/volvo.webp', 'Volvo')
      +hCarItem('/images/home/car/west.webp', 'Westfield')
      +hCarItem('/images/home/car/wiesm.webp', 'Wiesmann')
    button(type="button").h-car__btn.active.p-btn.p-btn_orange.p-btn_center Show more
    ul.h-car__breadcrumbs
      li.h-car__breadcrumb.h-car__breadcrumb_wagens
        a(href="#choose-your-car").h-car__breadcrumb-link Waganes
      li.h-car__breadcrumb.h-car__breadcrumb_brand
        a(href="#choose-your-car").h-car__breadcrumb-link
      li.h-car__breadcrumb.h-car__breadcrumb_model
        a(href="#choose-your-car").h-car__breadcrumb-link
      li.h-car__breadcrumb.h-car__breadcrumb_year
        a(href="#choose-your-car").h-car__breadcrumb-link
      li.h-car__breadcrumb.h-car__breadcrumb_motor
        a(href="#choose-your-car").h-car__breadcrumb-link
    #loading
    .h-car__steps
      .h-car__step.h-car__step_model
        .h-car__logo
          .h-car__logo-img
          .h-car__logo-title
        ul.h-car__list
      .h-car__step.h-car__step_year
        .h-car__logo
          .h-car__logo-img
          .h-car__logo-title
        ul.h-car__list
      .h-car__step.h-car__step_motor
        .h-car__logo
          .h-car__logo-img
          .h-car__logo-title
        ul.h-car__list
    .h-car__data
      ul.h-car__data-list
      .h-car__data-contents
template#h-car__logo-img
  .h-car__logo-img
    img(src="" width="58" height="58" loading="lazy")
template#h-car__list-li
  li.h-car__list-li
    a(href="#choose-your-car").h-car__list-link
template#h-car__data-content
  .h-car__data-content
    table(width="100%" border="0" cellspacing="0" cellpadding="0").h-car__table
      thead
        tr
          th
          th Original
          th After tuning
          th Difference
      tbody
