.h-first.section
  .h-first__bg.img_full
    +img({
      src: '/images/home/first/bg.webp',
      width: 1440,
      height: 904,
    })
  .container
    .h-first__block
      .h-first__title.section__title
        span Fileservice
        span Yastuning
      .h-first__text.h-first__text_right Lorem ipsum dolor sit amet consectetur. Risus id at vulputate vel augue etiam gravida sed. Vel aliquam aliquam sed ac arcu.
      .h-first__text.h-first__text_left Lorem ipsum dolor sit amet consectetur. Risus id at vulputate vel augue etiam gravida sed. Vel aliquam aliquam sed ac arcu.
