.h-first.section.p-animate
  .h-first__bg
    .h-first__bg-img.img_full
      +img({
        src: '/images/home/first/bg.webp',
        width: 1440,
        height: 904,
      })
    .h-first__bg-car
      .h-first__bg-car-main
        +img({
          src: '/images/home/first/car.webp',
          width: 1048,
          height: 570,
        })
      .h-first__bg-light-left
        +img({
          src: '/images/home/first/light-left.avif',
          width: 706,
          height: 746,
        })
      .h-first__bg-light-right
        +img({
          src: '/images/home/first/light-right.avif',
          width: 706,
          height: 746,
        })
  .container
    .h-first__block
      .h-first__title.section__title
        span Fileservice
        span Yastuning
      .h-first__text.h-first__text_right Lorem ipsum dolor sit amet consectetur. Risus id at vulputate vel augue etiam gravida sed. Vel aliquam aliquam sed ac arcu.
      .h-first__bg._mb
        +img({
          src: '/images/home/first/car_mb.avif',
          width: 360,
          height: 262,
        })
      .h-first__text.h-first__text_left Lorem ipsum dolor sit amet consectetur. Risus id at vulputate vel augue etiam gravida sed. Vel aliquam aliquam sed ac arcu.
      .h-first__btns
        a(href='#!').p-btn Login
        a(href='#!').p-btn.p-btn_orange Registration
