.h-links.section.p-animate
  .container
    .h-links__block
      .h-links__left
        .h-links__img
          +img({
            src: '/images/home/links/bg.webp',
            width: 710,
            height: 708,
            lazy: true,
          })
          +img({
            src: '/images/home/links/bg_tablet.webp',
            width: 372,
            height: 634,
            lazy: true,
          })
          +img({
            src: '/images/home/links/bg_mb.webp',
            width: 360,
            height: 338,
            lazy: true,
          })
        .h-links__title.section__title Lorem ipsum dolor sit
        .h-links__text Повседневная практика показывает, что высокотехнологичная концепция общественного уклада
      .h-links__right
        .h-links__items
          .h-links__item
            .h-links__item-current
              .h-links__item-title Повседневная практика показывает, что высокотехнологичная
              .h-links__item-svg
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.08621 0.965517C2.51488 0.365622 1.56541 0.342464 0.965517 0.913793C0.365622 1.48512 0.342464 2.43459 0.913793 3.03448L3.08621 0.965517ZM21.9634 24.4996C22.7916 24.5198 23.4794 23.8648 23.4996 23.0366L23.8287 9.54059C23.8489 8.71241 23.1939 8.02466 22.3657 8.00446C21.5376 7.98426 20.8498 8.63926 20.8296 9.46744L20.537 21.4639L8.54059 21.1713C7.71241 21.1511 7.02466 21.8061 7.00446 22.6343C6.98426 23.4624 7.63926 24.1502 8.46744 24.1704L21.9634 24.4996ZM2 2L0.913793 3.03448L20.9138 24.0345L22 23L23.0862 21.9655L3.08621 0.965517L2 2Z" fill="#F56E0F" />
                </svg>
            .h-links__item-content
              .h-links__item-inner
                p Повседневная практика показывает, что высокотехнологичная Повседневная практика показывает, что высокотехнологичнаяПовседневная практика показывает, что высокотехнологичная Повседневная практика показывает, что высокотехнологичная
          .h-links__item
            .h-links__item-current
              .h-links__item-title Повседневная практика показывает, что высокотехнологичная
              .h-links__item-svg
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.08621 0.965517C2.51488 0.365622 1.56541 0.342464 0.965517 0.913793C0.365622 1.48512 0.342464 2.43459 0.913793 3.03448L3.08621 0.965517ZM21.9634 24.4996C22.7916 24.5198 23.4794 23.8648 23.4996 23.0366L23.8287 9.54059C23.8489 8.71241 23.1939 8.02466 22.3657 8.00446C21.5376 7.98426 20.8498 8.63926 20.8296 9.46744L20.537 21.4639L8.54059 21.1713C7.71241 21.1511 7.02466 21.8061 7.00446 22.6343C6.98426 23.4624 7.63926 24.1502 8.46744 24.1704L21.9634 24.4996ZM2 2L0.913793 3.03448L20.9138 24.0345L22 23L23.0862 21.9655L3.08621 0.965517L2 2Z" fill="#F56E0F" />
                </svg>
            .h-links__item-content
              .h-links__item-inner
                p Повседневная практика показывает, что высокотехнологичная Повседневная практика показывает, что высокотехнологичнаяПовседневная практика показывает, что высокотехнологичная Повседневная практика показывает, что высокотехнологичная
          .h-links__item
            .h-links__item-current
              .h-links__item-title Повседневная практика показывает, что высокотехнологичная
              .h-links__item-svg
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.08621 0.965517C2.51488 0.365622 1.56541 0.342464 0.965517 0.913793C0.365622 1.48512 0.342464 2.43459 0.913793 3.03448L3.08621 0.965517ZM21.9634 24.4996C22.7916 24.5198 23.4794 23.8648 23.4996 23.0366L23.8287 9.54059C23.8489 8.71241 23.1939 8.02466 22.3657 8.00446C21.5376 7.98426 20.8498 8.63926 20.8296 9.46744L20.537 21.4639L8.54059 21.1713C7.71241 21.1511 7.02466 21.8061 7.00446 22.6343C6.98426 23.4624 7.63926 24.1502 8.46744 24.1704L21.9634 24.4996ZM2 2L0.913793 3.03448L20.9138 24.0345L22 23L23.0862 21.9655L3.08621 0.965517L2 2Z" fill="#F56E0F" />
                </svg>
            .h-links__item-content
              .h-links__item-inner
                p Повседневная практика показывает, что высокотехнологичная Повседневная практика показывает, что высокотехнологичнаяПовседневная практика показывает, что высокотехнологичная Повседневная практика показывает, что высокотехнологичная
          .h-links__item
            .h-links__item-current
              .h-links__item-title Повседневная практика показывает, что высокотехнологичная
              .h-links__item-svg
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.08621 0.965517C2.51488 0.365622 1.56541 0.342464 0.965517 0.913793C0.365622 1.48512 0.342464 2.43459 0.913793 3.03448L3.08621 0.965517ZM21.9634 24.4996C22.7916 24.5198 23.4794 23.8648 23.4996 23.0366L23.8287 9.54059C23.8489 8.71241 23.1939 8.02466 22.3657 8.00446C21.5376 7.98426 20.8498 8.63926 20.8296 9.46744L20.537 21.4639L8.54059 21.1713C7.71241 21.1511 7.02466 21.8061 7.00446 22.6343C6.98426 23.4624 7.63926 24.1502 8.46744 24.1704L21.9634 24.4996ZM2 2L0.913793 3.03448L20.9138 24.0345L22 23L23.0862 21.9655L3.08621 0.965517L2 2Z" fill="#F56E0F" />
                </svg>
            .h-links__item-content
              .h-links__item-inner
                p Повседневная практика показывает, что высокотехнологичная Повседневная практика показывает, что высокотехнологичнаяПовседневная практика показывает, что высокотехнологичная Повседневная практика показывает, что высокотехнологичная
          .h-links__item
            .h-links__item-current
              .h-links__item-title Повседневная практика показывает, что высокотехнологичная
              .h-links__item-svg
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.08621 0.965517C2.51488 0.365622 1.56541 0.342464 0.965517 0.913793C0.365622 1.48512 0.342464 2.43459 0.913793 3.03448L3.08621 0.965517ZM21.9634 24.4996C22.7916 24.5198 23.4794 23.8648 23.4996 23.0366L23.8287 9.54059C23.8489 8.71241 23.1939 8.02466 22.3657 8.00446C21.5376 7.98426 20.8498 8.63926 20.8296 9.46744L20.537 21.4639L8.54059 21.1713C7.71241 21.1511 7.02466 21.8061 7.00446 22.6343C6.98426 23.4624 7.63926 24.1502 8.46744 24.1704L21.9634 24.4996ZM2 2L0.913793 3.03448L20.9138 24.0345L22 23L23.0862 21.9655L3.08621 0.965517L2 2Z" fill="#F56E0F" />
                </svg>
            .h-links__item-content
              .h-links__item-inner
                p Повседневная практика показывает, что высокотехнологичная Повседневная практика показывает, что высокотехнологичнаяПовседневная практика показывает, что высокотехнологичная Повседневная практика показывает, что высокотехнологичная
          .h-links__item
            .h-links__item-current
              .h-links__item-title Повседневная практика показывает, что высокотехнологичная
              .h-links__item-svg
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.08621 0.965517C2.51488 0.365622 1.56541 0.342464 0.965517 0.913793C0.365622 1.48512 0.342464 2.43459 0.913793 3.03448L3.08621 0.965517ZM21.9634 24.4996C22.7916 24.5198 23.4794 23.8648 23.4996 23.0366L23.8287 9.54059C23.8489 8.71241 23.1939 8.02466 22.3657 8.00446C21.5376 7.98426 20.8498 8.63926 20.8296 9.46744L20.537 21.4639L8.54059 21.1713C7.71241 21.1511 7.02466 21.8061 7.00446 22.6343C6.98426 23.4624 7.63926 24.1502 8.46744 24.1704L21.9634 24.4996ZM2 2L0.913793 3.03448L20.9138 24.0345L22 23L23.0862 21.9655L3.08621 0.965517L2 2Z" fill="#F56E0F" />
                </svg>
            .h-links__item-content
              .h-links__item-inner
                p Повседневная практика показывает, что высокотехнологичная Повседневная практика показывает, что высокотехнологичнаяПовседневная практика показывает, что высокотехнологичная Повседневная практика показывает, что высокотехнологичная
