.p-swiper__arrows
  button(type="button").p-swiper__arrow.p-swiper__arrow_prev
    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.91856 3.38607C2.35723 3.05007 2.8239 2.64407 3.31856 2.16807C3.8039 1.69207 4.22856 1.20207 4.59256 0.698068L4.13056 0.320068C3.65456 0.973402 3.08523 1.59407 2.42256 2.18207C1.7599 2.77007 1.11123 3.2694 0.476562 3.68007C1.11123 4.0814 1.7599 4.58073 2.42256 5.17807C3.08523 5.76607 3.65456 6.38673 4.13056 7.04007L4.59256 6.66207C4.22856 6.15807 3.8039 5.66807 3.31856 5.19207C2.8239 4.71607 2.35723 4.31007 1.91856 3.97407H13.4406V3.38607H1.91856Z" fill="#1C2340" />
    </svg>
  button(type="button").p-swiper__arrow.p-swiper__arrow_next
    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.0545 3.37207C11.6159 3.0454 11.1539 2.64407 10.6685 2.16807C10.1832 1.69207 9.75855 1.20207 9.39455 0.698068L9.87055 0.320068C10.3465 0.973402 10.9159 1.59407 11.5785 2.18207C12.2412 2.77007 12.8899 3.2694 13.5245 3.68007C12.8899 4.0814 12.2412 4.58073 11.5785 5.17807C10.9159 5.76607 10.3465 6.38673 9.87055 7.04007L9.39455 6.66207C9.76788 6.15807 10.1925 5.66807 10.6685 5.19207C11.1539 4.71607 11.6159 4.31473 12.0545 3.98807H0.560547V3.37207H12.0545Z" fill="#1C2340" />
    </svg>
