.h-about {
  overflow: hidden;

  &__items {
    gap: 23px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &.p-animate_active {
      .h-about {
        &__item {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  &__item {
    backdrop-filter: blur(6px);
    border-radius: 40px;
    background: linear-gradient(90deg, rgb(217 217 217 / 50%) 0%, rgb(115 115 115 / 0%) 125.26%);
    padding: 30px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    opacity: 0;
    transition: 1s;
    background-size: cover;
    background-repeat: no-repeat;

    &:nth-child(1), &:nth-child(3){
      transform: translateX(-100%);
    }

    &:nth-child(2), &:nth-child(4){
      transform: translateX(100%);
    }


    &_img {
      position: relative;
      grid-column: span 2;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(27 27 28 / 30%);
        z-index: -1;
      }
    }

    &:nth-child(4) {
      --h-about-item-title-max-width: 489px;
    }

    &-title {
      font-weight: 700;
      font-size: 72px;
      line-height: 100%;
      text-transform: uppercase;
      max-width: var(--h-about-item-title-max-width, 100%);

      &_second {
        font-size: 24px;
        font-weight: 500;
      }
    }

    &-num {
      font-weight: 500;
      font-size: 128px;
      line-height: normal;
    }

    &-text {
      line-height: 137%;

      &_second {
        max-width: 306px;
        margin-left: auto;
      }
    }
  }
}

@media screen and (max-width: 1340px) {
  .h-about {
    padding-bottom: 168px;

    &__items {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }

    &__item {
      border-radius: 20px;
      padding: 20px;
      height: 326px;

      &:nth-child(4n + 1), &:nth-child(4n + 4) {
        width: calc(100% - 12px - 37.5vw);
      }

      &:nth-child(3n + 2), &:nth-child(3n + 3){
        width: 37.5vw;
      }

      &_img {
        grid-column: span 1;
      }

      &-title {
        font-size: 48px;
      }

      &-text {
        &_second {
          margin-left: 0;
          max-width: 380px;
        }
      }

      &-num {
        font-size: 72px;
        line-height: 100%;
        font-weight: 700;
      }
    }
  }

}

@media screen and (max-width: 900px) {
  .h-about {
    &__item {
      &-title {
        font-size: 43px;
      }

      &-num {
        font-size: 68px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .h-about {
    padding-top: 100px;
    padding-bottom: 0;

    &__items {
      gap: 14px;
    }

    &__item {
      height: auto;
      gap: 35px;

      &:nth-child(n){
        width: 100%;
      }

      &-title {
        font-size: 30px;
        line-height: 120%;
      }

      &-text {
        max-width: 100%;
      }

      &-num {
        font-size: 72px;
      }
    }
  }
}
