.h-links {
  padding: 100px 0;
  overflow: hidden;

  &.p-animate_active {
    .h-links {
      &__left,
      &__right {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr 650px;
    gap: 20px;
  }

  &__left {
    position: relative;
    transform: translateX(-100%);
    transition: 1s;
    opacity: 0;

    &.p-animate {
      &_active {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    z-index: -1;
    display: flex;
    justify-content: flex-end;

    img {
      &:nth-child(2),
      &:nth-child(3) {
        display: none;
      }
    }
  }

  &__right,
  &__left {
    padding: 30px 0;
  }

  &__right {
    transform: translateX(100%);
    transition: 1s;
    opacity: 0;

    &.p-animate {
      &_active {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__item {
    padding: 30px 0;
    border-bottom: 1px solid var(--999999);

    &.active {
      .h-links__item-svg {
        svg {
          transform: rotate(90deg) scale(-1);
        }
      }
    }

    &-current {
      display: flex;
      gap: 115px;
      cursor: pointer;
    }

    &-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      text-transform: uppercase;
    }

    &-svg {
      flex-shrink: 0;

      svg {
        transition: transform 0.3s ease-in-out;
      }
    }

    &-content {
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-in-out;
      font-size: 20px;
      line-height: 120%;
    }

    &-inner {
      padding-top: 16px;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    max-width: 367px;
  }
}

@media screen and (width <= 1340px) {
  .h-links {
    padding: 0;

    &__block {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    &__left {
      padding: 74px 0;
    }

    &__right {
      padding: 44px 0;
    }

    &__item {
      padding: 16px 0;

      &-title,
      &-content {
        font-size: 16px;
        line-height: 125%;
      }
    }

    &__img {
      width: calc(100% + 24px);

      img {
        &:nth-child(1) {
          display: none;
        }

        &:nth-child(2) {
          display: flex;
        }
      }
    }
  }
}

@media screen and (width <= 768px) {
  .h-links {
    &__img {
      width: calc(100% + 40px);
      right: -20px;

      img {
        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          width: 100%;
          display: block;
        }
      }
    }

    &__block {
      flex-direction: column;
      display: flex;
      gap: 11px;
    }

    &__left {
      padding: 50px 0;
    }

    &__text {
      max-width: 100%;
    }

    &__item {
      padding: 19px 0;

      &-current {
        gap: 6px;
      }
    }

    &__right {
      padding: 0;
    }
  }
}
